article.flexbox-item.content
  .carousel.slide(id='carousel-generic' data-ride='carousel' data-interval='false')
    .carousel-inner(role='listbox')
      .item.active
        img(src='../Img/Stock/carousel--pic-01.png' alt='Make money')
        h3 New opportunities for make new marketing
        p An easy way to manage your campaigns, creates segments, target better your audiencies and send it on different ways
      .item
        img(src='../Img/Stock/carousel--pic-01.png' alt='Make money')
        h3 New opportunities for make new marketing
        p An easy way to manage your campaigns, creates segments, target better your audiencies and send it on different ways
      .item
        img(src='../Img/Stock/carousel--pic-01.png' alt='Make money')
        h3 New opportunities for make new marketing
        p An easy way to manage your campaigns, creates segments, target better your audiencies and send it on different ways

    ol.carousel-indicators
      li(data-target='#carousel-generic' data-slide-to='0' class='active')
      li(data-target='#carousel-generic' data-slide-to='1')
      li(data-target='#carousel-generic' data-slide-to='2')

    //-a.left.carousel-control(href='#carousel-generic' data-slide='prev')
      span(class='glyphicon glyphicon-chevron-left')
      span(class='sr-only') Previous

    //-a.right.carousel-control(href='#carousel-generic' data-slide='next')
      span(class='glyphicon glyphicon-chevron-right')
      span(class='sr-only') Next
