- var fundary = 'Advertising Without the Irrating Ads | Kind Ads System'

meta(charset='utf-8')/
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')/
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')/

block headTitle
  title #{fundary}
  link(rel='canonical' href='http://captivate.com')/

link(rel='shortcut icon' href='favicon.ico')
link(rel='apple-touch-icon' href='Img/favicons/apple-icon-precomposed.png')
link(rel='apple-touch-icon-precomposed' sizes='144x144' href='Img/favicons/apple-icon-144x144.png')
link(rel='icon' type='image/png' sizes='144x144' href='Img/favicons/android-icon-144x144.png')
link(rel='icon' type='image/png' sizes='16x16' href='Img/favicons/favicon-16x16.png')
meta(name='application-name' content='&amp;nbsp;')
meta(name='msapplication-TileColor' content='#FFFFFF')
meta(name='msapplication-TileImage' content='Img/favicons/ms-icon-144x144.png')

link(type='text/css' rel='stylesheet' href='../Content/vendor/bootstrap.min.css')
link(type='text/css' rel='stylesheet' href='../Content/tkatUI.css')
