header(role='banner' class='navbar navbar-custom navbar-marketplace fixed-header')
  .container-fluid
    .row
      .col-md-12
        .navbar-header
          button.navbar-toggle.collapsed.text-uppercase(role='button' type='button' data-toggle='collapse' data-target='#navbar-collapse')
            span.sr-only Menu
            .pull-left
              span.icon-bar
              span.icon-bar
              span.icon-bar.last

          a.navbar-brand(href='index.html' title='Kind Ads')
            img.img-responsive(src='../Img/UI/logo-white.png')

        nav.collapse.navbar-collapse(role='navigation' aria-expanded='false' id='navbar-collapse')
          block navBar
            ul.nav.navbar-nav.navbar-left
              //-
                li.notify
                  a.notify(href='#' title='Notificaciones')
                    i
                      img(src='img/icons/profile-notify-icon.svg')
              li
                a.active(href='#' class='dropdown-toggle' role='button')
                  | Marketplace
              li
                a(href='#' class='dropdown-toggle' role='button')
                  | My campaigns


        ul.nav.navbar-nav.navbar-right
          //-li.dropdown
            a(href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
              i
                img.img-responsive(src='../Img/UI/notify-icon.png')
            ul.dropdown-menu
              li
                a() Soonly

          li.dropdown
            a(href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
              span.name Henry Miller
              span(class='caret')
            ul.dropdown-menu
              li
                a(href='index.html') Sign out
