@model List<KindAds.Models.CAMPAIGN_CHAT>
@{
    //Si el estatus de la campaña es aprobado o superior, se desactiva el chat
    Boolean isChatDisabled = ViewBag.CampaignStatus >= (int)KindAds.Utils.Enums.CatCampaignStatusEnum.Authorized;
}
<div style="display:none;">
  <h4>Comments with Advertiser</h4>
</div>

<div class="chat-room chat-pub-system">
  <h4>Historic</h4>
  <div id="ChatCampaign">
    @Html.Partial("_CampaignChat", Model)
  </div>

</div>

<div class="chat-room1">
  @using (Html.BeginForm())
  {
    <div class="col-sm-12">
      <input type="text" id="ChatMessage" placeholder="message" class="form-control" step="form-control" disabled="@isChatDisabled" />
    </div>
    <div class="col-sm-6 col-sm-offset-6" style="margin-top: 10px;">
      @if (isChatDisabled)
      {
        <div class="btn btn-primary" id="btnSendMessage" disabled="@isChatDisabled">Send Message</div>
      }
      else
      {
        @Ajax.ActionLink("Send Message", "GetCampaignsChat", "Campaign", new { message = "defaultAtrribute" },
           new AjaxOptions
           {
             UpdateTargetId = "ChatCampaign",
             InsertionMode = InsertionMode.Replace,
             HttpMethod = "GET"
           },
               new { @id = "btnSendMessage", @class = "btn btn-primary" }
           )
      }

    </div>
  }
</div>


@*<img class="pull-left img-responsive" src="../Img/UI/chat-draft.jpg" />*@

