<div class="modal fade" id="ComingSoonModal" role="dialog" aria-labelledby="NeedKindAdsModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <label id="lblTitle">Coming soon ...</label>
        </h2>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body">
            <div id="pnlEnableMetamask">
              <p></p>
            </div>
            <div class="col-md-12">
              <input id="btnComingSoonModal" type="button" value="Close" class="btn btn-default" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>



