<div class="modal fade" id="NeedEnableModal" role="dialog" aria-labelledby="NeedEnableModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <label id="lblTitle">Metamask PlugIn</label>
        </h2>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body">
            <div id="pnlEnableMetamask">
              <p>You need install <b>Metamask</b> https://metamask.io/ </p>
              <p>or</p>
              <p>You need to enable <b>Metamask</b> plugin on your browser to continue</p>
            </div>
            <div class="col-md-12">
              <input id="btnCloseEnableMetamask" type="button" value="Close" class="btn btn-default" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>


