<div class="modal fade" id="NeedLogInModal" role="dialog" aria-labelledby="NeedLogInModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <label id="lblTitle">Metamask LogIn</label>
        </h2>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body">
            <div id="pnlNeedLogInMetamask">
              <p>You need LogIn into <b>Metamask</b> to continue</p>
              </div>
            <div class="col-md-12">
              <input id="btnCloseLogInMetamask" type="button" value="Close" class="btn btn-default" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>



