@model KindAds.Models.Campaign.SortCampaignViewModel
@{
  ViewBag.Title = "Campaigns";
  var _service = new KindAds.Services.AccessService();
  var idUser = Microsoft.AspNet.Identity.IdentityExtensions.GetUserId(User.Identity);

  if (_service.ContainRoleUser(idUser, (int)KindAds.Utils.Enums.Roles.Advertiser))
  {
    Layout = "~/Views/Shared/_AdvertiserLayout.cshtml";
  }
  else if (_service.ContainRoleUser(idUser, (int)KindAds.Utils.Enums.Roles.Publisher))
  {
    Layout = "~/Views/Shared/_PublisherLayout.cshtml";
  }
}

<div class="container-fluid">
  <div class="form-horizontal">
    <div class="row">
      <div class="col-sm-12 main-bar">
        <h1 class="title">My campaigns</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 main-bar">
        <div class="white-block clearfix">
          <div class="heading">
            <h2>List of campaigns</h2>
          </div>

          <div class="white-block clearfix">
            <div class="body-content">
              <ul class="nav nav-tabs flexbox">
                <li class="active">
                  <a href="#pnlGridCampaignsPending" data-toggle="tab">Pending</a>
                </li>
                <li>
                  <a href="#pnlGridCampaignsVerify" data-toggle="tab">Approved</a>
                </li>
              </ul>
              <div class="tab-content clearfix">
                <div id="pnlGridCampaignsPending" class="tab-pane active">
                  @{Html.RenderAction("GetTableCampaignsPending", "Campaign");}
                </div>
                <div id="pnlGridCampaignsVerify" class="tab-pane">
                  @{Html.RenderAction("GetTableCampaignsVerify", "Campaign");}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>

@Scripts.Render("~/bundles/customjs")
<script>
  $(function () {
    $("#pnlGridCampaignsPending").on("click", "thead th a, tfoot a", function (e) {
      e.preventDefault();
      var param = $(this).attr('href').split('?')[1];
      var url = '@Url.Action("GetTableCampaignsPending", "Campaign")' + '?' + param;
      $.ajax({
        url: url,
        type: 'GET',
        data: '',
        dataType: 'html',
        success: function (data) {
          $('#pnlGridCampaignsPending').html(data);
        },
        error: function () {
          alert('Error!');
        }
      });
    });
  });

  $(function () {
    $("#pnlGridCampaignsVerify").on("click", "thead th a, tfoot a", function (e) {
      e.preventDefault();
      var param = $(this).attr('href').split('?')[1];
      var url = '@Url.Action("GetTableCampaignsVerify", "Campaign")' + '?' + param;
      $.ajax({
        url: url,
        type: 'GET',
        data: '',
        dataType: 'html',
        success: function (data) {
          $('#pnlGridCampaignsVerify').html(data);
        },
        error: function () {
          alert('Error!');
        }
      });
    });
  });

  $(function () {
    $('.link-campaign').addClass('active');
  });
</script>
