<div class="modal fade" id="WrongCampaignSettingsModal" role="dialog" aria-labelledby="WrongCampaignSettingsModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <label id="lblTitle">Campaign Settings</label>
        </h2>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body">
            <div id="pnlwrongCampaignSettings">
              <p>We have made a validation of the campaign configuration that you saved
                 with the data of your provider and some fields do not match,
                 please update the settings of your campaign.
              </p>
            </div>
            <div class="col-md-12">
              <input id="btnWrongCampaignSettings" type="button" value="Close" class="btn btn-default" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>




