@model KindAds.Negocio.ViewModels.KindAdsV2.AudienceChannelViewModel

<h2>ActiveCampaign</h2>
<div class="form-group inline">
  <label>Api Token:</label>
  [Data Model]
</div>

<div class="form-group inline">
  <label>Email list size:</label>
  <span id="listSize"></span>
</div>

<div class="form-group inline">
  <label>Last updated:</label>
  <span id="lastUpdated"></span>
</div>
