
@{
  ViewBag.Title = "SendGrid Help";
  Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="faq content-wrapper">
  <section class="hero bg-pattern">
    <div class="container-fluid">
      <div class="row info">
        <div class="col-sm-12">
          <h1>
            SendGrid Help
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="questions">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <article>
            <div class="panel-group">
              Content


            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

@section Scripts {


}
