
@{
  ViewBag.Title = "Copyright";
  Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@section Head {
  @Styles.Render("~/Content/kaUI_pages.css")
}
<div class="faq content-wrapper">
  <section class="hero bg-pattern">
    <div class="container-fluid">
      <div class="row info">
        <div class="col-sm-12">
          <h1>
            Copyright
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="questions">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>KindAds Copyright &amp; Intellectual Property Policy</h2>
          <article class="legals">
            <ul>
              <li>
                <p class="bold">
                  <em>Copyright and Intellectual Property Policy Practice Note:</em>
                </p>
                <p>
                  <em>
                    Title II of the Digital Millennium Copyright Act ("DMCA"), creates a set of safe harbors against copyright liability for qualifying website operators (see 17 U.S.C. &sect512).
                    The most commonly relied-upon safe harbor, the "systems storage" safe harbor, essentially negates copyright liability for infringing matter posted on a website by or at the direction of the site's end-users, provided that - upon receiving a DMCA-compliant claim of copyright infringement - the site expeditiously blocks access to or removes the allegedly infringing material.
                    To qualify for the safe harbor, the website operator must meet various requirements, including having a policy of terminating repeat infringers and appointing an agent to receive copyright infringement claims.
                    The policy below contains language addressing the unauthorized posting of a third party's copyrighted materials, trademarks and other items of intellectual property on a website or via a mobile offering.
                    Although there is no law parallel to the DMCA to protect entities from liability for the unauthorized use/posting of trademarks or other intellectual property by users, companies often designate an agent to manage trademark and other intellectual property related complaints and provide a notification procedure that mirrors the DMCA notification process in this regard.
                    If a client chooses to do so, it can appoint the same agent to manage copyright, trademark and other intellectual property complaints as contemplated in this Copyright and Intellectual Property Policy.
                    Please consider if it is appropriate for KindAds to include the complete "Copyright and Intellectual Property Policy" on its website, or if a simpler "Copyright Policy" is sufficient.
                  </em>
                </p>
              </li>
              <li>
                <p>
                  <strong>Notification of Copyright Infringement:</strong>
                </p>
                <p>
                  The Leadchain Foundation ("KindAds") respects the intellectual property rights of others and expects its users to do the same.<br />
                  It is KindAds' policy, in appropriate circumstances and at its discretion, to disable and/or terminate the accounts of users who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual property rights of others.<br />
                  In accordance with the Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website at <a href="http://www.copyright.gov/legislation/dmca.pdf" target="_blank">http://www.copyright.gov/legislation/dmca.pdf</a>, KindAds will respond expeditiously to claims of copyright infringement committed using the KindAds website (the "<strong>Site</strong>") that are reported to KindAds' Designated Copyright Agent, identified in the sample notice below.<br />
                  If you are a copyright owner, or are authorized to act on behalf of one or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Site by completing the following DMCA Notice of Alleged Infringement and delivering it to KindAds' Designated Copyright Agent.<br />
                  Upon receipt of the Notice as described below, KindAds will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged material from the Site.
                </p>
                <ul>
                  <li>
                    <p>
                      <strong>DMCA Notice of Alleged Infringement ("Notice")</strong>
                    </p>
                  </li>
                  <li>
                    <ol>
                      <li>
                        <p>
                          Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.
                        </p>
                      </li>
                      <li>
                        <p>
                          Identify the material that you claim is infringing (or to be the subject of infringing activity) and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material, including at a minimum, if applicable, the URL of the link shown on the Site where such material may be found.
                        </p>
                      </li>
                      <li>
                        <p>
                          Provide your mailing address, telephone number, and, if available, email address.
                        </p>
                      </li>
                      <li>
                        <p>
                          Include both of the following statements in the body of the Notice:
                        </p>
                        <ul>
                          <li>
                            <p>
                              "I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a  fair use)."
                            </p>
                          </li>
                          <li>
                            <p>
                              "I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <p>
                          Provide your full legal name and your electronic or physical signature
                        </p>
                      </li>
                    </ol>
                  </li>
                  <li>
                    <p>
                      Deliver this Notice, with all items completed, to KindAds' Designated Copyright Agent:<br />
                      Copyright Agent<br />
                      c/o Kindads<br />
                      Leadchain Foundation Piso 19, oficina 19 "A", de la Torre Capital Plaza, Costa del Este, Ciudad de Panam&aacute;. Rep&uacute;blica de Panam&aacute;. <a href="hello@kindads.io" target="_blank">hello@kindads.io</a>
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <p class="bold">
                  <em>Counter Notices Practice Note:</em>
                </p>
                <p>
                  <em>
                    The DMCA also includes an optional counter notification process in accordance with which the website operator can provide the user who posted material that is subject to a DMCA take down notice with an opportunity to challenge the take-down.
                    Such a user can send a written notice to the website operator stating that the material has been wrongly removed or blocked.  By the terms of the DMCA, such a counter-notice should assert that the challenged material was taken down as a result of "mistake" or "misindentification", but this represents in substance a statement that the material in question does not infringe the copyrights at issue.
                    On receipt of a formally correct counter-notice, the DMCA requires that the website operator then promptly notify the copyright claimant of the user's objection.
                    The website operator must then reinstate the material in question in not less than 10 and not more than 14 business days after receipt of such counter notice unless it receives notice from the copyright claimant during that period that the claimant has filed a legal action to restrain the allegedly infringing activity.
                    If the counter-notice procedures specified by the DMCA are followed, the DMCA provides a safe harbor against monetary liability to the user on the part of the website operator for the take-down of the user's allegedly infringing material.
                    The counter notification process is optional.
                    Although the more complete protection against copyright claims arising out of user-posted content is available only if the counter-notification part of the process is offered, many clients decline to offer a counter-notice process on the theory that (1) failing to provide a counter notification opportunity to users only affects liability to them, not to the copyright claimant, and (2) contractual terms can provide sufficient protection to the website operator against user claims relating to material removed or blocked from a website or other mobile offering.
                    Whether or not to include a counter notification process in a client's Copyright and Intellectual Property Policy should be considered on a case by case basis.
                    Among other considerations are the questions of how "user-supportive" the client wants to appear, how serious is the possibility of non-infringing challenged matter, and how high is the risk that the client might be found ineligible for the safe harbor and therefore at risk for re-posting matter pursuant to the counter-notification procedure.
                    Please consult a copyright attorney to discuss whether or not the counter notification process is appropriate for your client.
                  </em>
                </p>
              </li>
              <li>
                <p class="bold">Counter Notices:</p>
                <p>
                  One who has posted material that allegedly infringes a copyright may send KindAds a counter notice pursuant to Sections 512(g)(2) and 512(g)(3) of the DMCA.
                  When KindAds receives a counter notice, KindAds will reinstate the material in question in not less than 10 and not more than 14 business days after KindAds receives the counter notice unless KindAds first receives notice from the copyright claimant that he/she has filed a legal action to restrain the allegedly infringing activity.
                  To provide a counter notice to KindAds, please return the following form to KindAds' Designated Copyright Agent.
                  Please note that if you provide a counter notice, in accordance the terms of the DMCA and applicable policies, the counter notice will be given to the copyright claimant.
                </p>
                <ul>
                  <li>
                    <p>
                      <strong>Counter Notice</strong>
                    </p>
                    <ol>
                      <li>
                        <p>
                          Identify the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled.
                        </p>
                      </li>
                      <li>
                        <p>
                          Provide your mailing address, telephone number, and, if available, email address.
                        </p>
                      </li>
                      <li>
                        <p>Include both of the following statements in the body of the Notice:</p>
                        <ul>
                          <li>
                            <p>
                              "I hereby state under penalty of perjury that I have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled."
                            </p>
                          </li>
                          <li>
                            <p>
                              "I hereby state that I consent to the jurisdiction of the Federal District Court for the judicial district in which my address is located or, if my address is outside of the United States, for any judicial district in which KindAds may be found, and I will accept service of process from the complaining party who notified KindAds of the alleged infringement or an agent of such person.""
                            </p>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <p>
                          Provide your full legal name and your electronic or physical signature.
                        </p>
                      </li>
                    </ol>
                    <p>
                      Deliver this Notice, with all items completed, to KindAds' Designated Copyright Agent:<br />
                      Copyright Agent<br />
                      c/o Kindads<br />
                      Leadchain Foundation Piso 19, oficina 19 "A", de la Torre Capital Plaza, Costa del Este, Ciudad de Panam&aacute;. Rep&uacute;blica de Panam&aacute;. <a href="hello@kindads.io" target="_blank">hello@kindads.io</a>
                    </p>
                  </li>
                </ul>
              </li>
              <li>
                <p class="bold">
                  <em>
                    Intellectual Property Policy Practice Note:
                  </em>
                </p>
                <p>
                  <em>
                    As stated above, although there is no law parallel to the DMCA to protect entities from liability for the unauthorized use/posting of trademarks or other intellectual property, clients can consider designating an agent to manage trademark and other intellectual property related complaints.
                    Clients can appoint the same agent to manage copyright, trademark and other intellectual property complaints as contemplated below.
                    Note that since there is no DMCA for non-copyright claims, a client would offer a counter-notice procedure for trademark and other claims at its own risk; generally, we therefore offer no such option.
                  </em>
                </p>
                <ul>
                  <li>
                    <p class="bold">
                      Notification of Trademark Infringement:
                    </p>
                    <p>
                      If you believe that your trademark (the "<strong>Mark</strong>") is being used on the Site by a user in a way that constitutes trademark infringement, please provide KindAds' Designated Copyright Agent (specified above) with the following information:
                    </p>
                    <ol>
                      <li>
                        <p>
                          Your full legal name and your electronic or physical signature
                        </p>
                      </li>
                      <li>
                        <p>
                          Information reasonably sufficient to permit KindAds to contact you or your authorized agent, including a name, mailing address, telephone number and, if available, an email address.
                        </p>
                      </li>
                      <li>
                        <p>
                          Identification of the Mark(s) alleged to have been infringed, including (i) for registered Marks, a copy of each relevant federal trademark registration certificate or (ii) for common law or other Marks, evidence sufficient to establish your claimed rights in the Mark, including the nature of your use of the Mark, and the time period and geographic area in which the Mark has been used by you.
                        </p>
                      </li>
                      <li>
                        <p>
                          Information reasonably sufficient to permit KindAds to identify the use being challenged.
                        </p>
                      </li>
                      <li>
                        <p>
                          Include both of the following statements in the body of the Notice:
                        </p>
                        <ul>
                          <li>
                            <p>
                              "I hereby state that I have not authorized the challenged use, and I have a good faith belief that the challenged use is not authorized by law."
                            </p>
                          </li>
                          <li>
                            <p>
                              "I hereby state under penalty of perjury that all of the information in the notification is accurate and that I am the owner of the Mark, or authorized to act on behalf of the owner of the Mark."
                            </p>
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </li>
                </ul>
                <p>
                  Upon receipt of notice as described above, KindAds will seek to confirm the existence of the Mark on the Site, notify the registered user who posted the content including the Mark, and take whatever action, in its sole discretion, it deems appropriate, including temporary or permanent removal of the Mark from the Site.
                </p>
              </li>
              <li>
                <p class="bold">
                  Notification of Other Intellectual Property ("IP") Infringement:
                </p>
                <p>
                  If you believe that some other IP right of yours is being infringed by a user, please provide KindAds' Designated Copyright Agent (specified above) with the following information:
                </p>
                <ol>
                  <li>
                    <p>
                      Your full legal name and your electronic or physical signature.
                    </p>
                  </li>
                  <li>
                    <p>
                      Information reasonably sufficient to permit KindAds to contact you or your authorized agent, including a name, mailing address, telephone number and, if available, an email address.
                    </p>
                  </li>
                  <li>
                    <p>
                      Identification of the IP alleged to have been infringed, including (i) a complete description or explanation of the nature of the IP, (ii) evidence that you own the IP in the relevant jurisdiction, including copies of relevant patents, registrations, certifications or other documentary evidence of your ownership, and (iii) a showing sufficient for KindAds to determine without unreasonable effort that the IP has been infringed.
                    </p>
                  </li>
                  <li>
                    <p>
                      Information reasonably sufficient to permit KindAds to identify the use being challenged.
                    </p>
                  </li>
                  <li>
                    <p>
                      Include both of the following statements in the body of the Notice:
                    </p>
                    <ul>
                      <li>
                        <p>
                          "I hereby state that I have not authorized the challenged use, and I have a good faith belief that the challenged use is not authorized by law.""
                        </p>
                      </li>
                      <li>
                        <p>
                          "I hereby state under penalty of perjury that all of the information in the notification is accurate and that I am the owner of the IP, or authorized to act on behalf of the owner of the IP.""
                        </p>
                      </li>
                    </ul>
                  </li>
                </ol>
                <p>
                  Upon receipt of notice as described above, KindAds will seek to confirm the existence of the IP on the Sites, notify the registered user who posted the content including the IP, and take whatever action, in its sole discretion, it deems appropriate, including temporary or permanent removal of the IP from the Sites.
                </p>
              </li>
              <li>
                <p class="bold">
                  KindAds has No Obligation to Adjudicate IP Claims:
                </p>
                <p>
                  Claimants and users must understand that KindAds is not an intellectual property tribunal.
                  While we may in our discretion use the information provided in order to decide how to respond to infringement claims, we are not responsible for determining the merits of such claims.
                </p>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

@section Scripts {


}
