
@{
  ViewBag.Title = "TermsOfService";
  Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@section Head {
  @Styles.Render("~/Content/kaUI_pages.css")
}
<div class="faq content-wrapper">
  <section class="hero bg-pattern">
    <div class="container-fluid">
      <div class="row info">
        <div class="col-sm-12">
          <h1>
            Terms of Service
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="questions">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Terms of Service</h2>
          <article class="legals">
            <p>
              Welcome to the KindAds ("<strong>KindAds</strong>") website (the "<strong>Site</strong>").
              Please read these Terms of Service (the "<strong>Terms</strong>") and our Privacy Policy <a href="@Url.Action("PrivacyPolicy", "Home")" target="_blank">https://kindads.io/privacy-policy</a> ("<strong>Privacy Policy</strong>") carefully because they govern your use of our Site and our Virtual Currency wallet services accessible via our Site and our mobile device application ("<strong>App</strong>").
              These Terms and the documents that are referred to herein constitute a binding obligation between you and The Leadchain Foundation, the owner of KindAds.
              To make these Terms easier to read, the Site, our services and the App are collectively called the "<strong>Services</strong>".
            </p>
            <ol>
              <li>
                <p>
                  <strong>Agreement to Terms.</strong> By using our Services, you agree to be bound by these Terms. If you don't agree to be bound by these Terms, do not use the Services. If you are accessing and using the Services on behalf of a company (such as your employer) or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms. In that case, "you" and "your" will refer to that company or other legal entity.
                </p>
              </li>
              <li>
                <p>
                  <strong>Privacy Policy.</strong> Please refer to our Privacy Policy for information on how we collect, use and disclose information from our users. You acknowledge and agree that your use of the Services is subject to our Privacy Policy.
                </p>
              </li>
              <p>
                <strong>IMPORTANT NOTICE REGARDING ARBITRATION: WHEN YOU AGREE TO THESE TERMS YOU ARE AGREEING TO RESOLVE ANY DISPUTE BETWEEN YOU AND KINDADS THROUGH BINDING, INDIVIDUAL ARBITRATION RATHER THAN IN COURT. SEE SECTION 16(c) BELOW.</strong>
              </p>
              <li>
                <p>
                  <strong>Changes to Terms or Services.</strong> We may update the Terms at any time, in our sole discretion.
                  If we do so, we'll let you know either by posting the updated Terms on the Site or through other communications.
                  It's important that you review the Terms whenever we update them or you use the Services.
                  If you continue to use the Services after we have posted updated Terms, you are agreeing to be bound by the updated Terms.
                  If you don't agree to be bound by the updated Terms, then, except as otherwise provided in Section 19(f) "Effect of Changes on Arbitration," you may not use the Services anymore.
                  Because our Services are evolving over time we may change or discontinue all or any part of the Services, at any time and without notice, at our sole discretion.
                </p>
              </li>
              <li>
                <p>
                  <strong>Who May Use the Services?</strong>
                </p>
                <ol class="latin">
                  <li>
                    <p>
                      <span class="underline">Eligibility.</span> You may use the Services only if you are 18 years or older, capable of forming a binding contract with KindAds and are not barred from using the Services under applicable law.
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="underline"> Registration and Your Information.</span> If you want to use certain features of the Services you'll have to create an account ("Account").
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="underline"> Accuracy of Account Information.</span> It's important that you provide us with accurate, complete and up-to-date information for your Account and you agree to update such information to keep it accurate, complete and up-to-date.
                      If you don't, we might have to suspend or terminate your Account.
                      You agree that you won't disclose your Account password to anyone and you'll notify us immediately of any unauthorized use of your Account.
                      You're responsible for all activities that occur under your Account, whether or not you know about them.
                      You agree to maintain and promptly update any profile or Account information to ensure accuracy at all times.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p>
                  <strong>Advertising Platform.</strong>
                </p>
                <ol class="latin">
                  <li>
                    <p>KindAds offers a platform for you to buy and sell advertising.</p>
                  </li>
                  <li>
                    <p>KindAds is not responsible for the actions of its advertisers, publishers or other platform participants. KindAds does not guarantee the success of any transactions on its platforms, and is not responsible for refunds or disputes that may arise between advertisers and publishers.</p>
                  </li>
                  <li>
                    <p>You hereby accept and acknowledge that you take responsibility for all activities that you conduct on the KindAds Site and you accept all risks related to the actions of advertisers, publishers, and other platform participants, to the maximum extent permitted by law.</p>
                  </li>
                  <li>
                    <p>We may, in our sole discretion and without cost to you, with or without prior notice and at any time, modify or discontinue, temporarily or permanently, any portion of our Services.</p>
                  </li>
                  <li>
                    <p>Given the nature of the Service and the volume of information submitted, KindAds cannot and does not monitor all of the materials posted or transmitted by you and other third-party information providers via the Services, including, without limitation, any materials posted via the Service (the "Materials"). You expressly agree that KindAds will not be liable for such Materials.</p>
                  </li>
                  <li>
                    <p>If you are a publisher or seller of advertising, you: (i) are responsible for your Account and will comply with any policies or procedures posted on the Site; (ii) agree to be contacted via Email, SMS and text messaging by KindAds, and by third parties if relevant, regarding your use of the Services; (iii) grant KindAds permission to email or display your profile and such other information as may be supplied by you in connection with the Services; (iv) comply with any sale terms applicable with respect to transactions conducted on the KindAds platform; (v) agree that KindAds is not responsible for the success of any transactions initiated on the Kindads platform, and disclaim KindAds from any responsibility with respect thereto.</p>
                  </li>
                  <li>
                    <p>
                      Any Materials that (1) are directed to children under the age of 13 who reside in the United States or any territory thereof; or (2) collect information from users known by the operator thereof to be under the age of 13 who reside in the United States or any territory thereof ("Kids' Sites") must be identified as such by the advertiser through the Service.
                      Your use of the Service will be in compliance with the United States' Children's Online Privacy Protection Act ("COPPA").
                      Without limiting the foregoing, You may not, except to the extent permitted by applicable law, (i) create profiles of users or visitors of Kids' Sites, (ii) purchase, sell, place or facilitate the placement of behaviorally targeted Ads on Kids' Sites, or (iii) collect personal information (as defined by COPPA) about users or visitors of Kids' Sites.
                      We undertake no obligation to monitor COPPA compliance by platform participants.
                      Nothing in this Section shall be construed as limiting the obligation to comply with any other applicable laws, rules or regulations related to minors or otherwise.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p>
                  <strong>Fees for Using the Services.</strong>
                  You agree to pay for the costs of any transactions that you initiate on the platform between market participants in Kind Tokens at the rates published with respect to the subject transaction.
                  KindAds may receive a fee equal to _0_% of the transaction cost.
                  Any payments are non-refundable when made.
                </p>
              </li>
              <li>
                <p>
                  <strong>Feedback.</strong>
                  We welcome feedback, comments and suggestions for improvements to the Services ("<strong>Feedback</strong>").
                  You can submit Feedback by emailing us at <a href="mailto:hello@kindads.io">hello@kindads.io.</a>.
                  You grant to us a non-exclusive, transferable, worldwide, perpetual, irrevocable, fully-paid, royalty-free license, with the right to sublicense, under any and all intellectual property rights that you own or control to use, copy, modify, create derivative works based upon and otherwise exploit the Feedback for any purpose.
                </p>
              </li>
              <li>
                <p>
                  <strong>Content Ownership, Responsibility and Removal.</strong>
                </p>
                <ol class="latin">
                  <li>
                    <p>
                      <span class="underline">Definitions.</span>.
                      For purposes of these Terms: (i) "<strong>Content</strong>" means text, graphics, images, music, software, audio, video, works of authorship of any kind, and information or other materials that are posted, generated, provided or otherwise made available through the Services; and (ii) "<strong>User Content</strong>" means any Content that Account holders (including you) provide to be made available through the Services. Content includes without limitation User Content.
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="underline">Our Content Ownership</span>.
                      KindAds does not claim any ownership rights in any User Content and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit your User Content.
                      Subject to the foregoing, KindAds and its licensors exclusively own all right, title and interest in and to the Services and Content, including all associated intellectual property rights.
                      You acknowledge that the Services and Content are protected by copyright, trademark, and other laws of the United States and foreign countries.
                      You agree not to remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Services or Content.
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="underline">Rights in User Content Granted by You</span>.
                      By making any User Content available through the Services you hereby grant to KindAds a non-exclusive, transferable, worldwide, royalty-free license, with the right to sublicense, to use, copy, modify, distribute, publicly display, publicly perform, distribute, and if applicable, create derivative works based upon your User Content in connection with operating and providing the Services and Content to you and to other Account holders
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="underline">Your Responsibility for User Content</span>.
                      You are solely responsible for all your User Content. You represent and warrant that you own all your User Content or you have all rights that are necessary to grant us the license rights in your User Content under these Terms. You also represent and warrant that neither your User Content, nor your use and provision of your User Content to be made available through the Services, nor any use of your User Content by KindAds on or through the Services will infringe, misappropriate or violate a third party's intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="underline">Rights in Content Granted by KindAds</span>.
                      Subject to your compliance with these Terms, KindAds grants to you a limited, non-exclusive, non-transferable license, with no right to sublicense, to download, view, copy, display and print the Content solely in connection with your permitted use of the Services and solely for your personal and non-commercial purposes.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p>
                  <strong>General Prohibitions and KindAds's Enforcement Rights</strong>. You agree not to do any of the following:
                </p>
                <ol class="latin">
                  <li>
                    <p>
                      Post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any person or entity; or (vii) promotes illegal or harmful activities or substances;
                    </p>
                  </li>
                  <li>
                    <p>
                      Use, display, mirror or frame the Services or any individual element within the Services, KindAds's name, any KindAds trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without KindAds's express written consent;
                    </p>
                  </li>
                  <li>
                    <p>
                      Access, tamper with, or use non-public areas of the Services, KindAds's computer systems, or the technical delivery systems of KindAds's providers;
                    </p>
                  </li>
                  <li>
                    <p>
                      Attempt to probe, scan or test the vulnerability of any KindAds system or network or breach any security or authentication measures;
                    </p>
                  </li>
                  <li>
                    <p>
                      Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by KindAds or any of KindAds's providers or any other third party (including another user) to protect the Services or Content;
                    </p>
                  </li>
                  <li>
                    <p>
                      Attempt to access or search the Services or Content or download Content from the Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by KindAds or other generally available third-party web browsers;
                    </p>
                  </li>
                  <li>
                    <p>
                      Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;
                    </p>
                  </li>
                  <li>
                    <p>
                      Use any meta tags or other hidden text or metadata utilizing a KindAds trademark, logo URL or product name without KindAds's express written consent;
                    </p>
                  </li>
                  <li>
                    <p>
                      Use the Services or Content, or any portion thereof, for any commercial purpose or for the benefit of any third party or in any manner not permitted by these Terms;
                    </p>
                  </li>
                  <li>
                    <p>
                      Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Services or Content to send altered, deceptive or false source-identifying information;
                    </p>
                  </li>
                  <li>
                    <p>
                      Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services or Content;
                    </p>
                  </li>
                  <li>
                    <p>
                      Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services;
                    </p>
                  </li>
                  <li>
                    <p>
                      Collect or store any personally identifiable information from the Services from other users of the Services without their express permission;
                    </p>
                  </li>
                  <li>
                    <p>
                      Impersonate or misrepresent your affiliation with any person or entity;
                    </p>
                  </li>
                  <li>
                    <p>
                      Violate any applicable law or regulation; or
                    </p>
                  </li>
                  <li>
                    <p>
                      Encourage or enable any other individual to do any of the foregoing.
                    </p>
                  </li>
                  <p>
                    Although we're not obligated to monitor access to or use of the Services or Content or to review or edit any Content, we have the right to do so for the purpose of operating the Services, to ensure compliance with these Terms and to comply with applicable law or other legal requirements.
                    We reserve the right, but are not obligated, to remove or disable access to any Content, at any time and without notice, including, but not limited to, if we, at our sole discretion, consider any Content to be objectionable or in violation of these Terms.
                    We have the right to investigate violations of these Terms or conduct that affects the Services.
                    We may also consult and cooperate with law enforcement authorities to prosecute users who violate the law.
                  </p>
                </ol>
              </li>
              <li>
                <p>
                  <strong>DMCA/Copyright Policy</strong>.
                  KindAds respects copyright law and expects its users to do the same.
                  It is KindAds's policy to terminate in appropriate circumstances Account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders.
                  Please see KindAds's Copyright and IP Policy at <a href="@Url.Action("Copyright", "Home")" target="_blank">https://kindads.io/copyright</a>, for further information.
                </p>
              </li>
              <li>
                <p>
                  <strong>Links to Third Party Websites or Resources.</strong>
                  The Services (including the App) may contain links to third-party websites or resources. We provide these links only as a convenience and are not responsible for the content, products or services on or available from those websites or resources or links displayed on such websites. You acknowledge sole responsibility for and assume all risk arising from, your use of any third-party websites or resources.
                </p>
              </li>
              <li>
                <p>
                  <strong>Termination</strong>.
                  We may terminate your access to and use of the Services, at our sole discretion, at any time and without notice to you.
                  You may cancel your Account at any time by following the instructions noted in the Services. Upon any termination, discontinuation or cancellation of the Services or your Account, the requirements of this Agreement will continue to apply to you with respect to any past or future use of the Services.
                </p>
              </li>
              <li>
                <p>
                  <strong>Warranty Disclaimers</strong>.
                  THE SERVICES AND CONTENT ARE PROVIDED "AS IS," WITHOUT WARRANTY OF ANY KIND. WITHOUT LIMITING THE FOREGOING, WE EXPLICITLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. We make no warranty that the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. We make no warranty regarding the quality, accuracy, timeliness, truthfulness, completeness or reliability of any Content.
                </p>
              </li>
              <li>
                <p>
                  <strong>Indemnity</strong>.
                  You will indemnify and hold harmless KindAds and its officers, directors, employees and agents, from and against any claims, disputes, demands, liabilities, damages, losses, and costs and expenses, including, without limitation, reasonable legal and accounting fees arising out of or in any way connected with (i) your access to or use of the Services or Content, (ii) your User Content, or (iii) your violation of these Terms.
                </p>
              </li>
              <li>
                <p><strong>Limitation of Liability.</strong></p>
                <ol class="latin">
                  <li>
                    <p>
                      NEITHER KINDADS NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICES OR CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, OR DAMAGES FOR LOST PROFITS, LOST REVENUES, LOST SAVINGS, LOST BUSINESS OPPORTUNITY, LOSS OF DATA OR GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE SERVICES OF ANY KIND ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT KINDADS OR ANY OTHER PARTY HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU
                    </p>
                  </li>
                  <li>
                    <p>
                      IN NO EVENT WILL KINDADS'S TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES OR CONTENT EXCEED THE AMOUNTS YOU HAVE PAID TO KINDADS FOR USE OF THE SERVICES OR CONTENT OR ONE HUNDRED DOLLARS ($100), IF YOU HAVE NOT HAD ANY PAYMENT OBLIGATIONS TO KINDADS, AS APPLICABLE.
                    </p>
                  </li>
                  <li>
                    <p>
                      THE EXCLUSIONS AND LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN KINDADS AND YOU.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p>
                  <strong>Governing Law and Forum Choice/Class Action Waiver.</strong>
                </p>
                <ol class="latin">
                  <li>
                    <p>These Terms and any action related thereto will be governed by, and all disputes arising under, relating to, or in connection with these Terms shall be resolved in accordance with, the laws of the Republic of Panama, without regard to the conflicts of law provisions of such jurisdiction.</p>
                  </li>
                  <li>
                    <p>
                      All disputes arising out of or in connection with the Services or otherwise in connection with this Agreement shall be finally settled under the Rules of Arbitration of the International Chamber of Commerce by one arbitrator appointed in accordance with the said Rules.
                      The rules are available at at the iccwbo.org website <a href="https://iccwbo.org/dispute-resolution-services/arbitration/rules-of-arbitration/" target="_blank">https://iccwbo.org/dispute-resolution-services/arbitration/rules-of-arbitration/</a> or such updated link) .
                      The place of arbitration shall be Panama City, Panama. The language of the arbitration shall be English. Judgment on the award rendered by the [arbitrator(s)] may be entered by any court having jurisdiction thereof or having jurisdiction over the relevant party or its assets.
                    </p>
                  </li>
                  <li>
                    <p>
                      <strong>
                        Any claim or dispute arising under these Terms will take place on an individual basis without resort to any form of class or representative action (the "Class Action Waiver").
                        THE CLASS ACTION WAIVER PRECLUDES YOU OR KINDADS FROM PARTICIPATING IN OR BEING REPRESENTED IN ANY CLASS ARBITRATION, CLASS ACTION OR ANY OTHER TYPE OF REPRESENTATIVE PROCEEDING WITH RESPECT TO THE SERVICES OR THIS AGREEMENT.
                        NO CLASS ARBITRATION OR ARBITRATION IN WHICH AN INDIVIDUAL ATTEMPTS TO RESOLVE ANY DISPUTE AS A REPRESENTATIVE OF ANOTHER INDIVIDUAL OR GROUP OF INDIVIDUALS.
                        FURTHER, ANY DISPUTE CANNOT BE BROUGHT AS A CLASS OR OTHER TYPE OF REPRESENTATIVE ACTION, WHETHER WITHIN OR OUTSIDE OF ARBITRATION, OR ON BEHALF OF ANY OTHER INDIVIDUAL OR GROUP OF INDIVIDUALS.
                        Regardless of anything else in these Terms to the contrary, the validity and effect of the Class Action Waiver may be determined only by an arbitrator or arbitrators, not by a court or referee.
                      </strong>
                    </p>
                  </li>
                  <li>
                    <p>
                      You hereby waive any objection based on forum non conveniens, and you hereby waive personal service of any and all process.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p><strong>General Terms.</strong></p>
                <ol class="latin">
                  <li>
                    <p>
                      <span class="underline">Entire Agreement.</span>
                      These Terms constitute the entire and exclusive understanding and agreement between KindAds and you regarding the Services and Content, and these Terms supersede and replace any and all prior oral or written understandings or agreements between KindAds and you regarding the Services and Content.
                      If any provision of these Terms is held invalid or unenforceable by an arbitrator or a court of competent jurisdiction, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.
                      You may not assign or transfer these Terms, by operation of law or otherwise, without KindAds's prior written consent.
                      Any attempt by you to assign or transfer these Terms, without such consent, will be null.
                      KindAds may freely assign or transfer these Terms without restriction.
                      Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="underline">Notices.</span>
                      Any notices or other communications provided by KindAds under these Terms, including those regarding modifications to these Terms, will be given: (i) via email; or (ii) by posting to the Services.
                      For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.
                    </p>
                  </li>
                  <li>
                    <p>
                      <span class="underline">Waiver of Rights.</span>
                      KindAds's failure to enforce any right or provision of these Terms will not be considered a waiver of such right or provision.
                      The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of KindAds.
                      Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise.
                    </p>
                  </li>
                </ol>
              </li>
              <li>
                <p>
                  <strong>Contact Information.</strong> If you have any questions about these Terms or the Services, please contact KindAds at <a href="mailto:hello@kindads.io">hello@kindads.io</a>.
                </p>
              </li>
            </ol>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

@section Scripts {


}
