@model KindAds.Negocio.ViewModels.KindAdsV2.AudienceChannelViewModel

<br />
<h1>PushCrew</h1>

<div class="form-group">
  @Html.Label("API", htmlAttributes: new { @class = "control-label" })
  @Html.TextBoxFor(model => model.pushProductForm.pushCrewForm.ApiToken, new { @placeholder = "e.g. Your Api token ", @class = "form-control", @required = "true", @data_msg_required = "API token is required", @maxlength = 60 })
</div>

<div class="form-group">
  <div id="btnValidateProvider" class="btn btn-default btn-lg" onclick="ValidateProvider();">Validate</div>
</div>


<!-- Seccion de formulario escondido -->
<div id="pushCrewCompleteForm" style="display:none">

  @*<div class="form-group">
    @Html.Label("Name", htmlAttributes: new { @class = "control-label" })
    @Html.TextBoxFor(model => model.pushProductForm.pushCrewForm.Name, new { @placeholder = "e.g. Name ", @class = "form-control", @required = "true", @data_msg_required = "Name is required", @maxlength = 60 })
  </div>*@

</div>

<script type="text/javascript">

  var ApiKeyIsValid = false;


  function ValidateProvider() {
    $('#processingModal').modal('show');

    var apiToken = $("#pushProductForm_pushCrewForm_ApiToken").val();
    // envia los datos
    var requestData = {
      ApiToken: apiToken,
      ChannelId: '69349c7c-48b2-4628-9f3f-22846b1bc6de',
      ProviderId: 'cb1e0ff2-8249-4a50-8dcb-381f85f8d4a1'
    };

    $.ajax({
      url: "ValidateProvider",
      type: "Post",
      data: { request: requestData },
      success: function (response) {
        $("#pushProductForm_pushCrewForm_ApiToken").val(apiToken);
        
        ApiKeyIsValid = response.IsValid;        

        if (ApiKeyIsValid == 'True') {
          
          $("#pushCrewCompleteForm").show();
          $("#btnValidateProvider").hide();
          $('#processingModal').modal('hide');
          document.getElementById("pushProductForm_pushCrewForm_ApiToken").readOnly = true;
        }
        else {
          $('#processingModal').modal('hide');          
          alert("Api key is not valid");
          $("#pushCrewCompleteForm").hide();
          $("#btnValidateProvider").show();
        }

      },
      error: function (xhr, error, status) {
        
      }
    });
  }

</script>

