<div class="modal modal-white fade" id="ErrorModal" role="dialog" aria-labelledby="ErrorModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <label id="lblErrorTitle"></label>
        </h2>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body">
            <div id="PreviewTextModalBody">
              <label></label>
              <div>
                
                  <label id="ErrorModal_text" ></label>
               
                <p>
                  Error.
                </p>
                <div class="btn-stack">
                  <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Ok</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>

