<div class="modal modal-white fade" id="PreviewImageModal" role="dialog" aria-labelledby="PreviewImageModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <label id="lblTitle"></label>
        </h2>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body">
            <div id="PreviewImageModalBody">
              <label></label>
              <div>
                <span class="image">
                  <img id="PreviewImageModal_img" src="" />
                </span>
                
                <p id="previewImagemodal_img_description">
                  
                </p>
                <div class="btn-stack">
                  <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Ok</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>

