/* Button
================================================== */
// Core
@mixin btn-disabled {
  border: none;
  cursor: default;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.33;
  cursor: not-allowed;
}

@mixin btn-core {
  font-family: $openSansRegular;
  outline: 0;
  word-spacing: .06em;
}

@mixin btn-style ($bgcolor, $bdrcolor, $txtcolor) {
  background-color: $bgcolor;
  border: solid 1px $bdrcolor;
  color: $txtcolor !important;
}


// Styles
@mixin btn {
  @include btn-core;
  @include transitionButton();
}

@mixin btn-default {
  @include btn-core;
  @include btn-style($white, darken($soft-grey, 10), darken($dark-color, 10));
  border-width: 1px;
  min-width: 160px;
  display: block;
  width: 80%;
  margin: 0 auto;

  &:active, &:focus, &:hover {
    background-color: $white;
    border-color: $dim-grey;
    color: $rich-black !important;
  }

  &:active {
    &:hover {
      background-color: $off-white;
      border-color: lighten($dim-grey, 24);
    }
  }

  @include breakpoint($tablet) {
    max-width: 320px;
    display: inline-block;
    margin: 0;
    width: initial;
  }
}

@mixin btn-primary {
  @include btn-core;
  @include btn-style($main-blue, $dark-blue, $white);
  padding: 8px 48px;
  min-width: 160px;
  display: block;
  width: 80%;
  margin: 0 auto;

  &:active, &:focus, &:hover {
    background-color: lighten($main-blue, 12);
    border-color: $dark-blue;
    color: $white;
  }

  &:active {
    &:hover {
      background-color: darken($main-blue, 12);
      border-color: lighten($dark-blue, 24);
    }
  }

  @include breakpoint($tablet) {
    max-width: 320px;
    display: inline-block;
    margin: 0;
    width: initial;
  }
}

@mixin btn-secondary {
  @include btn-core;
  @include btn-style($main-violet, $vivid-violet, $off-white);
  padding: 8px 48px;
  min-width: 160px;

  &:active, &:focus, &:hover {
    background-color: lighten($main-violet, 12);
    border-color: $vivid-violet;
    color: $white;
  }

  &:active {
    &:hover {
      background-color: darken($main-violet, 12);
      border-color: lighten($vivid-violet, 24);
    }
  }
}

.btn, button, input[type='submit'], input[type='button'], input[type='reset'] {
  @include btn;
}

.btn-default {
  @include btn-default;
  background: linear-gradient(to bottom, $white 0%, darken($off-white, 2) 120%);
  border-radius: 5px;

  &.disabled,
  &[disabled] {
    @include btn-disabled;
  }
}

.btn-primary {
  @include btn-primary;
  background: linear-gradient(to bottom, $main-blue 0%, darken($main-blue, 10) 120%);
  border-radius: 5px;

  &.disabled,
  &[disabled] {
    @include btn-disabled;
  }
}

.btn-secondary {
  @include btn-secondary;
  background: linear-gradient(to bottom, $main-violet 0%, darken($main-violet, 10) 120%);
  border-radius: 5px;

  &.disabled,
  &[disabled] {
    @include btn-disabled;
  }
}


// Xtras
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-lg {
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 8px 6px -6px rgba($dim-grey, .9);
}

.btn-rounded {
  border-radius: 24px;
}
