@model KindAds.Models.Access.NewPasswordViewModel
@{
  ViewBag.Title = "New Password";
  Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@section Head {
  @Styles.Render("~/Content/kaUI_pages.css")
}

<div class="sign content-wrapper" ">
  <section class="hero bg-pattern">
    <div class="container-fluid">
      <div class="row info">
        <div class="col-12">
          <h1>
            Enter a New Password
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="form-layout">
    <div class="container-fluid">
      <div class="row">
        <div class="sign-wrapper extended">
          <div class="content">
            @using (Html.BeginForm("NewPassword", "Access"))
            {
              @Html.AntiForgeryToken()

              <article class="form-data">
                <form>
                  <fieldset>
                    <div class="form-container">
                      <div class="row">
                        <div class="col-12 form-group">
                          <h3>
                            Enter a new password.
                          </h3>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 form-group">
                          @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-control" })
                          @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 form-group">
                          <input type="submit" class="btn btn-primary btn-lg" value="Generate" />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 form-group">
                          <text>-Use 6 - 12 characters</text>
                          <br />
                          <text>-Use letters with spaces, numbers, or symbols(!@@·$% &*)</text>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </article>
            }

          </div>
        </div>
      </div>
    </div>
  </section>
</div>


@section Scripts {
}

