@{
  ViewBag.Title = "Reset Password Confirmation";
  Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@section Head {
  @Styles.Render("~/Content/kaUI_pages.css")
}

<div class="sign content-wrapper" ">
  <section class="hero bg-pattern">
    <div class="container-fluid">
      <div class="row info">
        <div class="col-12">
          <h1>
            Reset Password Confirmation
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="form-layout">
    <div class="container-fluid">
      <div class="row">
        <div class="sign-wrapper extended">
          <div class="content">
            <article class="form-data">
              <form>
                <fieldset>
                  <div class="form-container">
                    <div class="row">
                      <div class="col-12 form-gropup">
                        <h3>
                          Your password has been reset.
                        </h3>
                        <p>
                          @Html.ActionLink("Sign in", "Login", "Access", new { @class = "btn btn-primary btn-lg" })
                        </p>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

@section Scripts {
}


