
@{
  ViewBag.Title = "FAQ";
  Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="new-header row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="header clearfix">
      <nav>
        <a href="@Url.Action("Home", "Access")">
          <img class="pull-left img-responsive" data-no-retina="true" src="../Img/UI/logo.png" />
        </a>
          <ul class="pull-right">

            <li>
              <a href="/Access/Login">Sign In</a>
            </li>
            <li>
              <a href="/Access/CreateAccount">Sign Up</a>
            </li>
          </ul>
      </nav>
    </div>
  </div>
</div>

<section class="static">
  <h2 class="title">Frequently Asked Questions</h2>
  <a style="display:none;" href="#basics" class="btn btn-default">Basic questions</a>

  <div id="basics" class="row accordion">
    <div class="col-sm-8 col-sm-offset-2">
      <h3 style="display:none;" class="subtitle">The Basics</h3>
      <article class="faq">
        <div class="row">
          <div class="col-sm-12 questions">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" aria-expanded="true">
                  <h4 class="panel-title">
                    <a >
                      Why does Kind Ads need to use the blockchain to accomplish its goals?
                    </a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Because of blockchain technology, Kind Ads is able to directly connect advertisers to publishers. By cutting out the middleman, advertisers save money and publishers are able to make more.
                    <br />
                    In addition to cutting out the middleman, blockchain technology allows Kind Ads to protect its user's privacy and data. No one person or company will have access to your data or be able to use it for their own self-interest.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  <h4 class="panel-title">
                    <a >
                      Why did Kind Ads choose Ethereum over any other blockchain?
                    </a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    The Ethereum network is one of the most robust and flexible blockchain platforms. It has the largest development community and the Ethereum foundation is dedicated to continually improving it.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  <h4 class="panel-title">
                    <a>
                      What is the total supply of Kind tokens? Will you ever issue more?
                    </a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    The total supply of Kind tokens is 61,000,000. More tokens outside of the 61,000,000 cannot be released, and the token cannot be mined.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                  <h4 class="panel-title">
                    <a>
                      How will Kind Ads compete against traditional ad networks like Google and Facebook?
                    </a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    Traditional digital ad companies like Google have a larger market cap than the whole crypto market. We would be foolish to say we can beat them overnight, as that isn't realistic.
                    <br />
                    Kind Ads is taking a different approach by first going after channels like push notifications and emails that Google and Facebook are not leveraging. This way advertisers and publishers won't see it as a competing platform, but instead a platform that they can use in addition to Google and Facebook.
                    <br />
                    As Kind Ads gains more traction, it will expand into native ads, which both Google and Facebook also offer. But by first going after different channels, it allows Kind Ads to build a strong, defensible position.

                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                  <h4 class="panel-title">
                    <a>
                      What makes Kind Ads different than other ad-based blockchain projects?
                    </a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                    The big differentiator is that Kind Ads is focusing on ad channels that don't ruin the user experience. For example, as an Internet user, if you subscribe to a nutrition website's email newsletter and the owner of that site emails you information about a nutritional product that they have tried, tested, and believe will truly benefit you, then the ad isn't as bad as seeing banners all over the Internet.
                    <br />
                    In addition to the Kind Ads goal of making the Internet more kind by leveraging user-friendly ads, the Kind Ads team has a background in advertising. The founding team and advisors have over 31 years of ad agency experience. This allows them to bring advertisers and publishers to the platform while the competitors will struggle to gain as much traction in this respect.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                  <h4 class="panel-title">
                    <a>
                      Can people who browse the Internet benefit from Kind Ads?
                    </a>
                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">
                    As a user, if you choose to share your data so you can be better targeted, you will receive Kind tokens as you see ads served by Kind Ads throughout the web.
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                  <h4 class="panel-title">
                    <a>
                      How will Kind Ads attract both publishers and advertisers at the same time?
                    </a>
                  </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                  <div class="panel-body">
                    Our team has a background in running ad agencies, and we also know the founders of other ad agencies. This gives us access to advertisers.
                    <br />
                    As for publishers, Kind Ads will be leveraging platforms like WordPress and Kajabi which will get us access to millions of potential publishers.
                    <br />
                    Lastly, our team and network have access to over 2 million monthly blog readers in the marketing space (in which 51% spend money on digital ads and 43% have publishing sites).
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
