@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="new-header row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="header">
      <nav>
        <a href="@Url.Action("Home", "Access")">
          <img class="pull-left img-responsive" src="../Img/UI/logo.png" />
        </a>
        <ul class="pull-right">

          <li>
            <a href="/Access/Login">Sign In</a>
          </li>
          <li>
            <a href="/Access/CreateAccount">Sign Up</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<section class="features">
  <h2 class="title">The Kind Ads Executive Team</h2>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <ul class="card-items clearfix">
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/saulo-madeiros@2x.jpg" alt="Saulo Medeiros" />
          </div>
          <div class="content">
            <h3>Saulo Medeiros</h3>
            <h5>CEO & CO-Founder</h5>
            <p>Saulo is the co-founder of NPBR International LTDA, an agency that helps large corporations with their digital marketing needs. Currently they help their clients spend over $100,000,000 dollars a year on marketing.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/rafael-mayrink.jpg" alt="Rafael Mayrink" />
          </div>
          <div class="content">
            <h3>Rafael Mayrink</h3>
            <h5>COO & Co-founder</h5>
            <p>Rafael is the co-founder and Director of Operations at NPBR International LTDA. Rafael makes sure that the company has proper operational and administrative controls, and reporting structure.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/jaime-sanchez.jpg" alt="Jaime S&aacute;nchez" />
          </div>
          <div class="content">
            <h3>Jaime S&aacute;nchez</h3>
            <h5>CTO</h5>
            <p>Jaime is a full stack developer. He is an IT professional and entrepreneur with more than 20 years of experience. He worked at Microsoft for 12 years helping top companies in Latin America create scalable cloud architectures.</p>
          </div>
        </li>
      </ul>
      <h3 class="subtitle">Advisors & Evangelists</h3>

      <ul class="card-items clearfix">
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/neil-patel.jpg" alt="Neil Patel" />
          </div>
          <div class="content">
            <h3>Neil Patel</h3>
            <p>Neil Patel is the founder of Crazy Egg, Hello Bar, and KISSmetrics, and founder of QuickSprout. He helps companies like Amazon, NBC, GM, HP and Viacom grow their revenue.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/saber-aria.jpg" alt="Saber Aria" />
          </div>
          <div class="content">
            <h3>Saber Aria</h3>
            <p>Saber is the co-founder of Blockchain World Conferences, the co-founder of Blockchain World Conferences and a partner at Prime Block Capital.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/trevor-koverko.jpg" alt="Trevor Koverko" />
          </div>
          <div class="content">
            <h3>Trevor Koverko</h3>
            <p>Trevor is the founder and CEO of Polymath, a company bringing securities to the blockchain. He is a serial entrepreneur with two technology startup exits. He was also an original advisor/investor to the Ethereum project.</p>
          </div>
        </li>
      </ul>
      <ul class="card-items clearfix">
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/nadav-dakner.jpg" alt="Nadav Dakner" />
          </div>
          <div class="content">
            <h3>Nadav Dakner</h3>
            <p>Nadav is a veteran online marketer and a serial entrepreneur. He is the founder and CEO of InboundJuction, an established digital marketing firm. As a digital influencer and a crypto expert, he also advises Blockchain startups and ICOs on marketing, operations, and business development.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/jay-westerdal.jpg" alt="Jay Westerdal" />
          </div>
          <div class="content">
            <h3>Jay Westerdal</h3>
            <p>Jay is the founder of Domain Tools (acquired by Trought Convergence, Inc). Jay is an active startup advisor and investor. He currently spends his time acquiring and growing companies.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/jonathan-cronstedt.jpg" alt="Jonathan Cronstedt" />
          </div>
          <div class="content">
            <h3>Jonathan Cronstedt</h3>
            <p>Jonathan is the President of Kajabi, a leading publishing platform where people can create and monetize websites. Kajabi users have sold over $300M of digital products via their platform. Prior to Kajabi, Jonathan was the General Manager of Digital Learning at Success Magazine and he was the CEO of Digital Marketer.</p>
          </div>
        </li>
      </ul>
      <ul class="card-items clearfix center-items">
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/eric-siu.jpg" alt="Eric Siu" />
          </div>
          <div class="content">
            <h3>Eric Siu</h3>
            <p>Eric is the founder of Single Grain, a digital marketing agency that helps companies such as Uber, SalesForce, TurboTax, KitchenAid, Random House, Sony Pictures, and Nordstrom grow.</p>
          </div>
        </li>
        <li class="card-item">
          <div class="img">
            <img src="../Img/Home/Team/caio-beleza.jpg" alt="Caio Beleza" />
          </div>
          <div class="content">
            <h3>Caio Beleza</h3>
            <p>Caio is a partner of NPBR International LTDA, an ad agency focused on the Latin America market. He is in charge of operations and making sure companies grow their revenue through digital marketing.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
