
@{
  ViewBag.Title = "tokenoffering";
  Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="new-header row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="header clearfix">
      <nav>
        <a href="Home">
          <img class="pull-left img-responsive" data-no-retina="true" src="../Img/UI/logo.png" />
        </a>
        <ul class="pull-right">

          <li>
            <a href="/Access/Login">Sign In</a>
          </li>
          <li>
            <a href="/Access/CreateAccount">Sign Up</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<section class="static">
  <h2 class="title">Token Information</h2>
  <p>Know more about Token Offering</p>
  <div id="basics" class="row accordion">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <a class="btn btn-home" href="https://www.dropbox.com/s/a5td6t27w63xuoq/Kind%20Ads%20Token%20Offering%20Overview.pdf?dl=0" target="_blank">Download PDF</a>
      </div>
    </div>
  </div>
</section>



