<div class="modal fade" id="partnerValidationModal" role="dialog" aria-labelledby="siteSucessModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <label id="lblTitle">Wrong validation</label>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h2>
      </div>
      <div class="modal-body">
        <div class="panel">
          <div class="panel-body">
            <div id="pnlPartnerValidationModalSuccesMsg" >
              <div class="row">                
                <div id="partners_validation_message" class="col-md-12 form-group text-right">
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

