
@{
  ViewBag.Title = "Release Notes Sprint 9";
  Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="faq">
  <section class="hero bg-pattern">
    <div class="container-fluid">
      <div class="row info">
        <div class="col-sm-12">
          <h1>
            Release Notes
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="questions">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          Info
        </div>
      </div>
    </div>
  </section>
</div>

@section Scripts {
}
