<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KindadsContextConnectionString" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=blockblisststjp.database.windows.net,1433;Initial Catalog=testkadsjp;Persist Security Info=False;User ID=tstbliss; Password=patito12*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="KindAdsDBContext" connectionString="data source=blockblisststjp.database.windows.net,1433;initial catalog=testkadsjp;persist security info=False;user id=tstbliss;password=patito12*;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
