<article class="flexbox-item content">
  <div class="carousel slide" id="carousel-generic" data-ride="carousel" data-interval="false">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../Img/Stock/carousel--pic-01.png" alt="Make money">
        <h3>Advertising without the irritating ads</h3>
        <p>Kind Ads will show you more relevant ads and through channels like email marketing and push notifications so you can browse the web without being bombarded by irrelevant ads.</p>
      </div>
      <div class="item">
        <img src="../Img/Stock/carousel--pic-01.png" alt="Make money">
        <h3>Display ads that help your website visitors</h3>
        <p>Are banner ads ruining your website's experience? Now you can start showing users relevant ads through push notifications and emails that don't irritate users. Plus you'll get paid instantly.</p>
      </div>
      <div class="item">
        <img src="../Img/Stock/carousel--pic-01.png" alt="Make money">
        <h3>Create ads that convert while saving money</h3>
        <p>Are you tired of rising ad costs? A large portion of your ad dollars is going to a middleman. You can now save money by cutting out the middleman.</p>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li class="active" data-target="#carousel-generic" data-slide-to="0"></li>
      <li data-target="#carousel-generic" data-slide-to="1"></li>
      <li data-target="#carousel-generic" data-slide-to="2"></li>
    </ol>
  </div>
</article>
