
@{
  ViewBag.Title = "Reset Password Confirmation";
  Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="title">
  <div class="logo-mobile">
    <a href="@Url.Action("Home", "Home")"><img src="~/Img/UI/Logo-White.png"></a>
  </div>
  <h1>Reset Password Confirmation</h1>
</div>

<article class="form-data">
  <form>
    <fieldset>

      <div class="row">
        <div class="col-sm-12 form-gropup text-center">
          Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Access",new { @class = "text-muted" })
        </div>
      </div>

    </fieldset>
  </form>
</article>
