@model string

<div class="">
  <h3>
    <span>
      BALANCE
    </span>
  </h3>
  <div class="base">
    <span>
      <strong>
        @Model
      </strong>
       KIND
    </span>
  </div>
</div>

