<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdev;AccountKey=Nmpsm9BXJ+xX4f05UYQZV3qzRZx/S3La3AM28VgVM4UMNYyd7XqDV31sCCabTkUWLZ8MyhARcN3UoudaphadaA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdev;AccountKey=Nmpsm9BXJ+xX4f05UYQZV3qzRZx/S3La3AM28VgVM4UMNYyd7XqDV31sCCabTkUWLZ8MyhARcN3UoudaphadaA==;EndpointSuffix=core.windows.net" />
    <add name="ServiceBusDefaultConnection" connectionString="Endpoint=sb://kindadsnot-dev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=eaKrga0/Fhc7revJQP27o+aHt3JXtWG+My70aSyRXrw=" />
    <add name="KindAdsDBContext" connectionString="data source=blockblisststjp.database.windows.net,1433;initial catalog=testkadsjp;persist security info=False;user id=tstbliss;password=patito12*;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DefaultAzureConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdev;AccountKey=Nmpsm9BXJ+xX4f05UYQZV3qzRZx/S3La3AM28VgVM4UMNYyd7XqDV31sCCabTkUWLZ8MyhARcN3UoudaphadaA==;EndpointSuffix=core.windows.net" />

  </connectionStrings>
  <appSettings>
    <!--Desarrollo-->
    <add key="TopicName" value="notification-topic" />
    <add key="SubscriptionName" value="kindadsweb-dev" />
  </appSettings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>