/* Modules
================================================== */
// ATOMS =======================================
.add-space {
  margin-top: 20px !important;

  &.s2x {
    margin-top: 40px !important;
  }
}
.top-space {
  margin-top: 20px;
  &.s2x {
    margin-top: 40px !important;
  }
}

.relative {
  position: relative;
}

ul {
  list-style: none;
}

label.verify-site {
  text-align: center;
  @include breakpoint($tablet) {
    min-width: 320px;
    text-align: left;
  }
}

.lowercase {
  text-transform: lowercase;
}

.validation-summary-errors {
  color: darken($info-red, 15) !important;
  background: lighten($info-red, 45);
  border-radius: 0 0 3px 3px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;

  ul {
    margin-bottom: 0;

    li {
      padding: 4px 8px;
    }
  }
}

.btn-group {
  padding: 8px 0;
  display: block;
  text-align: center;
  margin: 0 auto;
  .btn {
    float: none;
    border-radius: 5px;
  }

  @include breakpoint($tablet) {
  }
}

.input-group-addon, .input-group-btn {
  vertical-align: top;
}

span.legend {
  font-size: 13px;
  color: $main-blue;
}



// MOLECLES ====================================
// Video
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Title
.main-bar {
  margin: 0;

  p {
    font-size: 24px;
    padding: 32px 8px 0 16px;
  }
}

// CTA Bar
.cta-bar {
  margin-top: 16px;
}

// Form
.form {
  width: 100%;
  padding: 8px 0 64px;
  position: relative;

  h1 {
    font-size: 1.5em;
    border-bottom: solid 1px $charcoal-grey;
  }

  &.form-extended {
    padding-top: 4px;
  }

  @include breakpoint($tablet) {
    //background: rgba($white, .3);
    width: calc(100% - 240px);
    padding: 16px 24px;
    margin-left: 240px;
    //padding-bottom: 48px;
    h1 {
      border-color: transparent;
      line-height: 2;
      margin: 10px;
    }
    &.form-extended {
      width: 100%;
      margin-left: 0;
      padding: 8px 32px 16px;
    }
  }
}

.form-data {
  .field-validation-error {
    display: block;
    background: rgba($info-red, .7);
    border-bottom: solid 2px $info-red;
    padding: 4px 8px;
    font-size: 13px;
    margin: 0;
    margin: 2px 0 0 48px;
    color: $off-white !important;
    clear: both;
  }
}

// Info
.callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid $soft-grey;
  box-shadow: inset 0 1px 8px rgba($black, .3);

  h4 {
    margin-top: 0;
  }

  &.callout-info {
    background-color: lighten($soft-grey, 2);
    border-color: lighten($main-green, 4);

    h4 {
      color: $main-blue;
      margin-bottom: 20px;
      font-family: $gorditaBold;
    }

    .link {
      padding: 4px;
      border-bottom: solid 1px $main-blue;
      text-decoration: none;
    }
  }

  &.callout-warning {
    background-color: lighten($soft-grey, 2);
    border-color: lighten($vivid-pink, 4);
  }
}

// Botton
i.arrow {
  border: solid $dark-blue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 6px;

  &.right {
    transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
  }
}

// Upload Image
.btn.file {
  position: relative;
  overflow: hidden;
  padding: 6px 24px;
  float: none !important;

  input {
    position: absolute;
    font-size: 22px;
    opacity: 0;
    right: 0;
    top: 0;
  }
}

// Marketplace
.btn-filter {
  display: block;

  i {
    display: blocK;
    width: 28px;
    height: 28px;
    background: violet;
  }
}

.filter-panel {
  &[aria-expanded='true'] {
  }

  &[aria-expanded='true'] + .results-panel {
  }
}

.results-panel {
  background: rgba($white, .3);
}



// COMPONENTS ==================================
// Container
.white-block {
  padding: 2px;
  background: rgba($white, .28);
  border: solid 1px transparent;

  .heading {
    border-bottom: solid 1px $dim-grey;

    i {
      width: 16px;
      height: 16px;
      float: left;
      margin: 8px 8px 0 0;
      display: block;
    }

    h2 {
      font-size: 1.275em;
    }
  }

  .subheading {
    border-bottom: solid 1px $dim-grey;
    padding: 0 8px;
    margin-bottom: 16px;

    h2 {
      font-size: 18px;
    }
  }

  .body-content {
    padding: 0;

    h3 {
      font-size: 1.125em;
      font-family: $gorditaBold;
    }
  }

  &.shadow-block {
    box-shadow: $box-shadow;
    background: $white;
    border-radius: 8px;
    padding: 20px;
    .body-content {
      h3, p {
        margin-bottom: 20px;
      }

      .btn {
        margin: 20px 0 0;
      }
    }
  }

  @include breakpoint($tablet) {
    padding: 16px  24px;
    background: rgba($white, .88);
    border: solid 1px lighten($dim-grey, 25);
    //min-height: 70vh;
    &.shadow-block {

    }
  }
}

.accordion {
  .accordion-heading {
    width: 100%;
    color: $main-blue;
    border-bottom: solid 1px $main-blue;
    padding: 0 8px;

    h3 {
      display: inline-block;
    }

    span {
      padding: 6px 0 4px;
      float: right;
      display: block;
      width: 24px;
      height: 20px;
      border: solid 1px transparent;

      &.status {
        margin-left: 20px;
        margin-right: -40px;
      }

      i {
        &.caret {
          margin: 0 auto;
          display: block;
          border-top: none;
          border-bottom: 4px dashed;
        }
      }
    }

    &[aria-expanded='false'] {
      span.caret {
        border-color: $main-blue;
        border-radius: 4px;

        .caret {
          border-bottom: none;
          border-top: 4px dashed;
        }
      }
    }
  }

  .accordion-body {
    padding: 16px 0;
  }

  @include breakpoint($tablet) {
    .accordion-heading {
      width: calc(25% + 320px);
    }
  }
}

.modal {
  z-index: 3001;
  background-color: rgba($black, .7);

  &:before {
    content: '';
    display: inline-block;
  }

  .modal-content {
    margin-top: 100px;
  }

  .modal-header {
    padding: 20px;

    .close {
      opacity: .8;
      color: $off-white;
      text-shadow: 0 1px 0 $charcoal-grey;
    }
  }

  .modal-body {
    padding: 20px;
  }

  .modal-footer {
    text-align: center;
  }

  .panel {
    box-shadow: none;

    .panel-body {
      padding: 10px;
    }
  }
}


// Navigation
.tab-nav {
  position: fixed;
  z-index: 2000;
  width: 100%;
  bottom: 0;
  background: $white;
  transition: padding .85s ease-in;
  box-shadow: 1px 0 6px 0 rgba($black, .2);

  .navbar-brand {
    display: none;
  }

  ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: relative;
    height: 48px;
    background-color: $soft-grey;

    li {
      width: 22%;
      &.bal-left {
        margin-left: 4%;
      }
      &.bal-right {
        margin-right: 4%;
      }
      a {
        display: block;
        padding: 34px 0 0 0;
        text-align: center;
        position: relative;
        min-height: 48px;
        font-size: 12px;
        color: $dim-grey;
        &:before {
          content: '';
          font-family: "kindads" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          font-size: 24px;
          speak: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          width: 24px;
          height: 24px;
          display: block;
          left: 40%;
          top: 6px;
          text-indent: 0px;
        }

        &.link-dashboard {
          &:before {
            content: "\e007";
          }
        }

        &.link-site {
          &:before {
            content: "\e008";
          }
        }

        &.link-campaign {
          &:before {
            content: "\e009";
          }
        }
        &.link-profile {
          &:before {
            content: "\e00A";
          }
        }

        &.link-campaigns {
          padding-left: 24px;
          span {
            margin-right: 12px;
          }
          &.active, &:hover, &:active {
            padding-left: 24px;
            span {
              margin-right: 12px;
            }
          } 
        }

        &.active,
        &:active {
          color: $bright-green;
        }

        &.active,
        &:hover,
        &:active {
          text-decoration: none;
        }

        &.disabled,
        &[disabled] {
          pointer-events: none;
          cursor: not-allowed;
          color: lighten($dim-grey, 15);
        }
      }

      &:last-of-type {
      }
    }

    &.empty {
      display: none;
    }
  }

  .link-balance {
    position: absolute;
    bottom: 4px;
    left: calc(50% - 30px);

    h3 {
      display: none;
    }

    .base {
      span {
        color: $vivid-violet;
        background: $white;
        border: solid 4px $soft-grey;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        display: block;
        text-align: center;
        font-size: 10px;

        strong {
          font-size: 24px;
          display: block;
          width: 56px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 2px;
        }
      }
    }
  }

  @include breakpoint($tablet) {
    padding-top: 0px;
    margin: 0;
    width: 240px;
    min-height: 100%;
    z-index: 3000;

    .navbar-brand {
      display: block;
      float: none;
      max-width: 160px;
      padding: 0;
      display: block;
      margin: 15px 0 45px 15px;
    }

    ul {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      background-color: transparent;

      li {
        width: 100%;
        margin-bottom: 24px;
        &.bal-left, &bal-right {
          margin-left: 0;
          margin-right: 0;
        }
        a {
          min-height: 56px;
          padding: 16px 0px 16px 56px;
          border-left: solid 6px transparent;
          text-align: left;
          font-family: $gorditaRegular;
          line-height: 24px;
          color: $charcoal-grey;
          font-size: 16px;
          margin: 0;
          text-indent: 0;

          &:before {
            top: 16px;
            left: 20px;
          }

          &.active,
          &:hover,
          &:active {
            padding: 16px 0px 16px 56px;
            background-color: lighten(rgba($bright-green, .4), 45);
            border-color: $bright-green;
            border-radius: 0 2px 2px 0;
          }

          &.active,
          &:active {
            &:before {
              top: 16px;
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.empty {
        display: flex;
        justify-content: center;
        height: calc(100% - 200px);

        li {
          display: flex;
          justify-content: center;
        }
      }
    }

    .link-balance {
      width: 100%;
      margin-bottom: 50px;
      bottom: 0;
      left: 0;

      h3 {
        display: block;
        padding: 8px 0 8px 32px;
      }

      .base {
        height: 44px;
        padding: 6px;
        background: lighten($main-violet, 20);

        span {
          border: solid 2px $vivid-violet;
          width: 80%;
          height: auto;
          margin: 0 auto;
          font-size: 14px;
          padding: 4px;
          strong {
            display: inline-block;
            width: 120px;
            margin: 0;
            line-height: 100%;
          }
        }
      }
    }
  }
}

.nav-tabs {
  border-bottom-color: transparent;

  > li {
    margin-bottom: 0;
    width: auto;
    flex-grow: 0;
    padding: 4px 1´px;
    text-align: center;

    a {
      padding: 8px 12px;
    }

    &.active {
      a,
      a:focus,
      a:hover {
        border: none;
        border-bottom: solid 3px $main-violet;
        background: none;
      }
    }
  }
}

.form-slider {
  input[type=range] {
    display: inline-block;
    margin-top: 12px;
  }

  .rangeslider {
    display: block;
  }

  output {
    background: $off-white;
    border: solid 1px darken($main-green, 20);
    border-radius: 4px;
    padding: 8px;
    color: darken($main-green, 20);
    display: inline-block;
    margin: 8px 8px 0;
  }

  output + span {
    font-size: 12px;
    padding: 8px 0;
    color: darken($main-green, 20);
    height: 20px;
    position: relative;
    top: -4px;
  }

  @include breakpoint($tablet) {
    input[type=range] {
      min-width: 320px;
      max-width: 320px;
    }
  }
}


// Data
.card {
  border: solid 1px lighten($dim-grey, 5);
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: $white;
  padding: .75em;
  box-shadow: $box-shadow;

  .card-title {
    color: $main-blue;
    padding: 4px 0;
    font-size: 14px;
    margin: 0 4px 4px 4px;
    white-space: nowrap;
    overflow: hidden;
    min-height: 28px;
    text-overflow: ellipsis;
  }

  .card-img {
    min-width: 100%;
    overflow: hidden;
    min-height: 210px;
    max-height: 210px;

    img {
      min-width: 420px;
      margin: 0 auto;
      display: block;
    }
  }

  .card-body {
    .tags {
      display: block;
      margin: 8px 0 12px 0;
      min-height: 24px;
    }

    .price {
      color: $vivid-violet;
      font-size: 16px;
      font-family: $gorditaBold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;

      &:after {
        content: 'KIND';
        text-transform: uppercase;
        font-variant: small-caps;
        font-size: 12px;
        top: 12px;
        padding-left: 4px;
        position: absolute;
      }

      &::first-letter {
        font-size: 24px;
      }
    }

    .btn {
      min-width: auto;
      padding: 8px 12px;
    }
  }

  @include breakpoint($tablet) {

    .card-img {
      max-height: 120px;
      min-height: 120px;

      img {
        min-width: 10%;
      }
    }

    .card-body {
      .btn {
      }
    }
  }
}

.datagrid {
  margin-bottom: 4px;

  .data-grid-title {
  }

  .data-grid-heading {
    flex-flow: row wrap;
    padding: 16px 0 16px 8px;
    background: $off-white;
    border-bottom: solid 1px $vivid-green;
    margin-top: 4px;
  }

  ul {
    margin-bottom: 20px;

    li {
      display: inline-block;
      width: 30%;
    }
  }

  .data-grid-content {
    padding: 8px;
  }
}

.table.datagrid {
  margin: 20px 0;
  font-size: .915em;

  > thead > tr > th {
    border-bottom: solid 1px $soft-grey;
    font-size: .875em;
    padding: 8px 4px;
    color: $rich-black;

    &.icon-delete {
      color: $black;
    }
  }

  tfoot {
  }

  > tbody tr td {
    vertical-align: middle;
    border-top-color: transparent;
    height: 50px;
    padding: 8px 4px;

    a.validate {
      color: $info-red;
    }

    input.delete {
      height: 16px;
      width: 16px;
    }
  }
}

.panel {
  &.panel-info {
    margin-top: 20px;
    padding: 12px;
    background-color: lighten($soft-grey, 5);
    border: solid 1px $dim-grey;
    box-shadow: 0 0 8px 2px rgba($dim-grey, 0.33);

    ul li {
      margin-bottom: 10px;
    }

    h3 {
      &.title {
        border-bottom: solid 1px $dim-grey;
        margin-bottom: 16px;
        padding-bottom: 8px;
      }
      &.accent {
        color: $main-blue;
      }
      small {
        display: block;
        color: inherit;
      }
    }

    .body-content {
      p {
        margin-bottom: 24px;
      }
      .info {
        margin: 12px 0;
        .image-logo {
          max-width: 90px;
        }
      }
    }
    .circle {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      display: block;
      background: $main-blue;
      margin: 0 auto;
      text-align: center;

      .image-logo {
        margin: 28px auto 0;
      }
    }
  }
}

// Extras
.profile {
  .legend {
    padding: 8px;
    font-size: 1em;
  }

  .block {
    margin-bottom: 40px;
    border-bottom: solid 2px $main-green;
  }

  .transactions {
    li {
      display: block;
      line-height: 14px;
      min-height: 24px;
    }
  }
}


// Chat Room
.chat-room {
  padding-left: 20px;
  border-left: solid 1px $dim-grey;
  border-bottom: solid 1px $dim-grey;
  padding-bottom: 10px;
  margin-bottom: 10px;
  h4 {

  }
  .ad-person,
  .pub-person {
    display: block;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-end;
    span {
      font-size: .925em;
      line-height: 1.4em;
      padding: 12px;
      display: inline-block;
      &.time {
        font-size: .675em;
        text-transform: uppercase;
        padding: 8px;
      }
    }
  }
  .ad-person {
    span {
      &.text {
        background-color: $soft-grey;
        padding: 10px;
        border-radius: 8px 8px 0 8px;
        max-width: 240px;
      }
    }
    .img {
      border-radius: 16px;
      margin-left: 4px;
      align-self: flex-start;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .pub-person {
    span {
      &.text {
        background-color: lighten($main-blue, 20);
        color: $off-white;
        border-radius: 8px 8px 8px 0;
        max-width: 280px;
      }
    }
  }
  &.chat-pub-system {
    .ad-person {
      flex-direction: row;
    }
  }
}
