 /* Pages
 ================================================== */
  // Faq
  .faq {
    .hero {
      .info {
        color: $white;
        h1 {
          letter-spacing: -0.7px;
           padding-top: 12px;
          span {
            font-weight: bold;
          }
        }
      }

    }

    .accordion {
      padding: 15px;
      .panel-group {
        background: linear-gradient(100deg, #0494c9, #5d4282) no-repeat;
        background-size: 100% 15px;
        background-color: $white;
        border-style: solid;
        border-width: 2px;
        border-image-source: linear-gradient(142deg, #0494c9, #5d4282);
        border-image-slice: 1;
        border-image-width: 2;
        border-image-outset: 0;
        padding-top: 15px;
        .panel-default :last-child {
          .panel-heading a {
            border-bottom-color: transparent;
          }
        }
      }
      .panel-default {
        border: none;
        border-radius: 0;
        margin: 0;
        & > .panel-heading {
          border-radius: 0;
          color: inherit;
          padding: 0;
          background-color: lighten($dim-grey, 38);
          border-color: transparent;
          a {
            color: $dark-violet;
            text-decoration: none;
            display: block;
            padding: 32px 56px 32px 32px;
            border-bottom: solid 1px $dim-grey;
            background-color: $white;
            &[aria-expanded='true'] {
              border: none;
              color: $vivid-violet;
              background-color: lighten($main-violet, 20);
              background-color: lighten($dim-grey, 37);
              span {
                background: url(#{$images-path}/icons/minus-plus.png) no-repeat center center;
              }
            }
          }

          span {
            width: 20px;
            height: 20px;
            display: block;
            float: right;
            top: 10px;
            right: 20px;
            position: absolute;
            background: url(#{$images-path}/icons/add-plus.png) no-repeat center center;
          }

          &:hover {
            background-color: lighten($main-violet, 20);
            cursor: pointer;
          }
        }
        .panel-title {
          font-size: 1.714em;
        }
        .panel-collapse.in {
          .panel-body {
            background-color: lighten($dim-grey, 37);
            border-bottom: solid 2px $vivid-violet;
          }
        }

        .panel-body {
          background-color: $white;
          border-top: solid 1px $soft-grey;
          border-top: none;
          padding: 0 32px 32px;
          br {
            display: block;
            line-height: 1em;
            height: 12px;
            content: " ";
          }
        }
      }
    }

    @include breakpoint($tablet) {
      .hero {
        .info {
          h1 {
            font-size: 3.143em;
            padding-top: 24px;
          }
        }
      }

      .accordion {
        background-color: #f7f9fa;
      }
    }
  }

  .team {
    .hero {
      .info {
        color: $white;
        h1 {
          letter-spacing: -0.7px;
           padding-top: 12px;
          span {
            font-weight: bold;
          }
        }
      }
    }

    .subtitle {
      font-size: 1.714em;
      margin: 24px 0 36px;
    }

    .card-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .card-item {
        width: 100%;
        margin-bottom: 40px;
        position: relative;
        .img {
          display: block;
          margin: 0;
          text-align: center;
          background: $white;
          overflow: hidden;
          img {
            object-fit: cover;
            width: 140px;
            height: auto;
          }
        }

        .content {
          display: block;
          background: #f7f9fa;
          margin: -20px 0 0 0;
          padding: 12px 12px 12px 12px;
          color: $rich-black;
          h3 {
            font-size: 1.714em;
          }
          h5 {
            font-size: .875em;
            text-transform: uppercase;
            position: relative;
            &:before {
              content: '';
              border-bottom: solid 2px #5d4282;
              position: absolute;
              display: block;
              width: 100%;
              height: 3px;
              bottom: -8px;
              left: 0;
            }
          }
          p {
            margin-top: 24px;
          }
        }
      }
    }
    @include breakpoint($tablet) {
      .hero {
        .info {
          h1 {
            font-size: 3.143em;
            padding-top: 24px;
          }
        }
      }

      .subtitle {
        margin: 48px 0 72px;
      }

      .card-items {
        .card-item {
          float: left;
          width: calc(50% - 20px);
          &.add {
            margin-right: 20px;
          }
          &.even {
            margin-left: 20px;
          }
          .img {
            left: 0;
            position: absolute;
            img {
              width: 168px;
              height: 224px;
            }
          }
          .content {
            width: calc(100% - 80px);
            margin: 20px 0 0 80px;
            padding: 28px 28px 28px 112px;
            h3 {
              margin-bottom: 16px;
            }
            h5 {
              font-size: .875em;
              text-transform: uppercase;
              position: relative;
              &:before {
                content: '';
                width: 68px;
              }
            }
            p {
              margin-top: 48px;
            }
          }
        }
      }
    }
  }

  // Landing
  .home1 {
    flex-direction: column;
    background-color: $white;

    p {
      font-size: 1.25em;
      line-height: 1.625em;
      color: $dim-grey;
    }

    a {
      &.disabled,
      &[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        color: lighten($dim-grey, 15);
      }
    }

    h2 {
      font-size: 44px;
      margin-bottom: 24px;
      line-height: 140%;
    }

    section {
      padding: 20px;
    }

    .hero {
      flex-direction: column;
      min-height: 100vh;
    }

    .info {
      position: relative;

      > div {
        padding: 20px;
      }

      .header {
        nav {
          img {
            max-width: 120px;
          }

          ul {
            margin: 8px;

            li {
              margin-right: 4px;
            }
          }
        }
      }

      .content {
        h1 {
          font-family: 'Playfair Display', serif;
          font-size: 44px;
          color: $dark-violet;
          margin-bottom: 24px;
          line-height: 120%;

          & + p {
            margin-bottom: 20px;
          }
        }

        p {
          margin-bottom: 32px;
          color: $charcoal-grey;
        }

        .btn {
          border: solid 1px $vivid-violet;
          color: $off-white !important;
          padding: 16px 48px;
          min-width: 160px;
          background: linear-gradient(to bottom, $dark-violet 0%, darken($dark-violet, 10) 120%);
          border-radius: 5px;
          float: left;
          word-spacing: 0.4em;
          box-shadow: 0 16px 24px 0px rgba($main-violet, .42);

          &:hover, &:active, &.active {
            background: linear-gradient(to bottom, lighten($dark-violet, 10) 0%, darken($dark-violet, 20) 120%);
            color: $dark-violet;
          }
        }
      }

      .social {
        li {
          display: inline-block;

          a {
            width: 52px;
            height: 52px;
            border: solid 1px lighten($dim-grey, 20);
            border-radius: 26px;
            text-align: center;
            display: inline-block;
            padding-top: 16px;
            margin-right: 26px;

            i:before {
              font-size: 18px;
              color: $dark-violet;
            }

            &:hover, &:active, &.active {
              border-color: darken($vivid-violet, 10);
              background-color: lighten($main-violet, 20);

              i:before {
                color: darken($vivid-violet, 10);
              }
            }
          }
        }
      }
    }

    .aside {
      display: none;
      color: $white;
      background-color: $vivid-violet;
      background-blend-mode: multiply, normal;
      background-image: linear-gradient(to bottom, $dark-violet, darken($dark-violet, 30)), linear-gradient($main-blue, #1d88c7);
      position: relative;

      .video {
        display: block;
        max-width: 200px;
        position: absolute;
        top: calc(50% + 60px);
        left: -60px;
        object-fit: contain;
        z-index: 100;
        background-color: $white;
        box-shadow: 0 2px 31px 0 rgba($charcoal-grey, 0.2);
        border: solid 1px rgba($off-white, .2);
        border-radius: 60px;
        width: 120px;
        height: 120px;
        text-align: center;
        padding-top: 44px;

        i {
          margin-left: 8px;

          &:before {
            color: $vivid-violet;
            font-size: 28px;
          }
        }

        img {
          display: none;
        }

        &:hover, &.active, &.active {
          border: solid 2px darken($vivid-violet, 10);
          background-color: lighten($main-violet, 25);

          i:before {
            color: darken($vivid-violet, 10);
          }
        }
      }

      &:before {
        content: '';
        //background: url(#{$images-path}/Home/iphone-bg.png) no-repeat center top;
        background: url(#{$images-path}/Home/i-pad-pro.png) no-repeat right center;
        background-size: contain;
        position: absolute;
      }
    }

    .features {
      padding: 24px;
      text-align: center;

      h2 {
        font-family: 'Playfair Display', serif;
        color: $rich-black;
      }

      h3.subtitle {
        font-size: 1.125em;
        color: $main-violet;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 5px;
        position: relative;
      }

      .card-items {
        margin: 80px 0 20px 0;

        .card-item {
          width: 80%;
          margin: 0 auto;
          border: solid 0px $soft-grey;
          padding: 32px 24px;
          border: solid 1px $soft-grey;
          margin-bottom: 40px;
          box-shadow: 0 10px 20px 0 rgba($charcoal-grey, 0.3);

          h3 {
            font-size: 1.75em;
            color: $vivid-violet;
            letter-spacing: .025em;
          }

          h5 {
            font-size: 1.125em;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $dark-color;
          }

          p {
            font-size: 1em;
            line-height: 1.5em;
            color: $charcoal-grey;
          }
        }
      }

      .block-items {
        margin: 20px 0;

        li {
          width: 80%;
          margin: 0 auto;
          border: solid 0px $soft-grey;
          padding: 32px 4px;

          .img {
            width: 80px;
            height: 80px;
            display: block;
            margin: 0 auto 16px;
            object-fit: contain;

            img {
              width: 100%;
            }
          }

          h3 {
            font-size: 18px;
          }

          p {
            font-size: .975em;
            line-height: 1.5em;
          }
        }
      }
    }

    .register {
      color: $off-white;
      background-blend-mode: normal, normal, normal;
      background-color: $main-blue;
      background-image: url(#{$images-path}/Home/bg-register.png), linear-gradient(rgba($main-blue, 0.8), rgba($main-blue, 0.8)), linear-gradient(329deg, #3d9ad9, #3d9ad9 25%, #006fd3);
      background-position: center top;
      background-repeat: no-repeat;
      position: relative;
      padding-top: 40px;

      &:before,
      &:after {
        content: '';
        position: absolute;
      }

      &:before {
        width: 88px;
        height: 88px;
        top: -44px;
        left: calc(50% - 44px);
        background: $white;
        border-radius: 44px;
      }

      &:after {
        width: 72px;
        height: 72px;
        top: -36px;
        left: calc(50% - 36px);
        background-color: $white;
        border: solid 2px $dim-grey;
        border-radius: 36px;
        background: url(#{$images-path}/UI/arrow-icon.svg) no-repeat center center;
      }

      h2 {
        color: $off-white;
      }

      p {
        color: $off-white;
      }

      .btn {
        border: solid 1px $vivid-violet;
        color: $main-blue;
        padding: 16px 48px;
        min-width: 160px;
        background: linear-gradient(to bottom, $white 0%, $white 100%);
        border-radius: 5px;
        border: none;
        word-spacing: 0.4em;
        margin: 20px 0;

        &:hover, &:active, &.active {
          background: linear-gradient(to bottom, $off-white 0%, $white 120%);
          color: $vivid-blue;
        }
      }
    }

    .advantages {
      padding: 24px;
      box-shadow: 0 6px 8px rgba($charcoal-grey, .2);
      z-index: 10;

      article {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      h4 {
        font-size: 14px;
        color: $main-blue;
      }

      h3 {
        color: $vivid-blue;
        font-family: 'Playfair Display', serif;
        font-size: 44px;
      }

      p {
        margin: 12px 0 36px;
      }
    }

    .integrations {
      padding: 48px 24px;
      text-align: center;
      background-color: lighten($soft-grey, 2);

      h2 {
        font-family: 'Playfair Display', serif;
        color: $rich-black;
      }

      p {
        margin: 9px 0 40px;

        span {
          color: $vivid-blue;
          font-family: $gorditaBold;
        }
      }

      .partners {
        flex-wrap: wrap;

        .image {
          min-width: 180px;
          max-width: 180px;
          margin: 16px auto 16px;
          height: 44px;
          object-fit: contain;
          justify-content: center;

          img {
            max-height: 40px;
            align-self: center;
          }
        }
      }
    }

    .footer {
      color: $off-white;
      background-blend-mode: normal, normal;
      background-color: $main-blue;
      background-image: linear-gradient(333deg, #3d9ad9, #3d9ad9 25%, #006fd3), linear-gradient(rgba(0, 111, 211, 0.6), rgba(0, 111, 211, 0.6));
      background-position: right top;
      background-repeat: no-repeat;
      position: relative;
      padding: 48px 40px 64px 40px;

      .logo {
        display: block;
        max-width: 224px;
        margin-bottom: 10px;
      }

      h4 {
        margin: 20px 0 0;
        border-bottom: solid 1px $off-white;
        width: 95%;
        padding: 8px 2px;
        font-size: 1.125em;
        font-family: $gorditaRegular;
      }

      ul {
        margin: 0;

        li {
          a {
            font-family: $gorditaRegular;
            color: $off-white;
            font-size: 1em;
            padding: 12px 8px;
            display: block;
          }
        }
      }

      &.legals {
        display: block;
        background-image: none;
        background-color: $vivid-blue;
        padding: 8px 40px;
        font-size: .875em;
      }
    }

    .cookies {
      background: darken(#f5f5f1, 4);
      z-index: 100;
      position: fixed;
      width: 100%;
      padding: 16px 40px;
      bottom: 0;
      border-top: solid 1px $dim-grey;
      transition: all ease-out .5s;
      display: inline-block;
      text-align: center;
      &.fadeIn {
        opacity: 0;
        transform: translate(0, 70px);
      }

      span {
        font-size: 14px;
        letter-spacing: 0.035em;
        padding: 8px 4px 4px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
      }
      .btn {
        background-color: $vivid-green;
        color: $off-white;
        font-family: $gorditaBold;
        padding: 8px 32px;
        font-size: 16px;
      }
    }
    .modal {
      background-color: rgba($black, .3);

      .modal-header {
        .close {
          color: $charcoal-grey;
        }
      }
    }
    // Header
    .new-header {
      padding: 20px;

      ul {
        margin: 16px 0 0 0;

        li {
          display: inline-block;
          padding: 8px 12px;
        }
      }
    }
    // New Module
    .static {
      padding: 24px;
      text-align: center;

      h2 {
        font-family: 'Playfair Display', serif;
        color: $rich-black;
      }

      h3.subtitle {
        font-size: 2.25em;
        color: $charcoal-grey;
        letter-spacing: 1px;
        font-weight: 700;
        margin-top: 5px;
        position: relative;
      }

      .accordion {
        margin: 40px 0 40px;
      }
      .btn-home {
        border: solid 1px $vivid-violet;
        color: $off-white !important;
        padding: 16px 48px;
        min-width: 160px;
        background: linear-gradient(to bottom, $dark-violet 0%, darken($dark-violet, 10) 120%);
        border-radius: 5px;
        float: left;
        word-spacing: 0.4em;
        box-shadow: 0 16px 24px 0px rgba($main-violet, .42);

        &:hover, &:active, &.active {
          background: linear-gradient(to bottom, lighten($dark-violet, 10) 0%, darken($dark-violet, 20) 120%);
          color: $dark-violet;
        }
      }
    }
    // Accordion
    .accordion {
      .panel-default {
        border: none;
        background: none;
        text-align: left;
        margin-bottom: 24px;

        & > .panel-heading {
          border-bottom: solid 1px $off-white;
          color: inherit;
          font-weight: 400;
          padding: 12px 40px 12px 16px;
          border-radius: 0px;
          position: relative;
          font-size: 1em;
          background-color: lighten($dim-grey, 38);

          a {
            font-size: 1em;
            font-family: $gorditaBold;
            line-height: 2.22;
            color: $dark-violet;
            text-decoration: none;
          }

          span {
            width: 20px;
            height: 20px;
            display: block;
            float: right;
            top: 10px;
            right: 20px;
            position: absolute;
            background: url(#{$images-path}/icons/add-plus.png) no-repeat center center;
          }

          &[aria-expanded='true'] {
            border: none;
            border-top: solid 2px $vivid-violet;

            a {
              color: $vivid-violet;
            }

            span {
              background: url(#{$images-path}/icons/minus-plus.png) no-repeat center center;
            }
          }

          &:hover {
            background-color: lighten($main-violet, 20);
            cursor: pointer;
          }
        }

        .panel-body {
          background-color: lighten($dim-grey, 38);
          border-top: solid 1px $soft-grey;
          ;
          padding: 16px 32px;
          line-height: 140%;

          br {
            display: block;
            line-height: 1em;
            height: 12px;
            content: " ";
          }
        }
      }
    }
    
    @include breakpoint($tablet) {
      .cookies {
        text-align: left;
        span {
          margin-bottom: 0px;
        }
        .btn {
          float: right;
        }
      }

      .hero {
        flex-direction: row;
      }

      .info {
        width: 50%;

        .content {
          h1 {
            line-height: 140%;
          }

          .btn {
            float: none;
          }
        }

        .header {
          nav {
            ul {
              @include breakpoint($tablet) {
                margin-right: 36px;
              }
            }
          }
        }
      }

      .aside {
        width: 50%;
        color: $white;
        display: flex;

        &:before {
          height: 520px;
          width: 110%;
          bottom: 140px;
          right: 0;
        }
      }

      .features {
        padding: 80px 24px 20px;

        h2.title {
          margin: 5px 5px 40px;
        }

        h3.subtitle {
          margin: 5px 5px 80px;
        }

        .card-items {
          margin: 40px 0 20px 0;

          .card-item {
            position: relative;
            margin-bottom: 80px;
            border-radius: 2px 2px 4px 4px;

            .img {
              img {
                border-radius: 100%;
                max-width: 140px;
                position: absolute;
                top: -48px;
                left: calc(50% - 70px);
                clip-path: circle(70px at center);
                border: 3px solid rgba($vivid-violet, .6);
              }
            }

            .content {
              margin-top: 70px;
            }
          }
        }

        .block-items {
          margin-top: 80px;

          li {
            float: left;
            width: 32%;
            margin: 0 1%;
            padding: 64px 24px 32px;
            box-shadow: 0 10px 20px 0 rgba($charcoal-grey, 0.3);

            &:first-child,
            &:last-child {
              width: 31%;
              box-shadow: none;
            }

            .img {
              width: 56px;
              height: 56px;
            }
          }
        }
      }

      .register {
        margin-top: 40px;
      }

      .advantages {
        padding: 80px 24px;

        article {
          margin-bottom: 80px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .integrations {
        .partners {
          .image {
            min-width: initial;
            max-width: initial;
          }
        }
      }

      .footer {
        background-blend-mode: multiply, normal, normal;
        background-image: url(#{$images-path}/Home/bg-footer.png), linear-gradient(333deg, #3d9ad9, #3d9ad9 25%, #006fd3), linear-gradient(rgba(0, 111, 211, 0.6), rgba(0, 111, 211, 0.6));

        .logo {
          width: 120px;
          margin-bottom: 20px;
        }

        h4 {
          width: 20px;
          padding-top: 0;
          margin: 0 0 10px;
          border-bottom-width: 2px;
        }

        ul {
          margin: 0;

          li a {
            padding: 4px 4px 8px;
          }
        }
      }

      .modal {
        .modal-content {
          min-width: 680px;
        }
      }

      .static {
        padding: 80px 24px 20px;

        h2.title {
          margin: 5px 5px 40px;
        }

        h3.subtitle {
          margin: 5px 5px 80px;
        }

        .accordion {
          margin-top: 80px;
        }
      }
    }

    @include breakpoint($desktop) {
      .aside {
        &:before {
          height: 760px;
          width: 110%;
          right: 0;
          bottom: 20px;
        }
      }

      .features {
        .card-items {
          .card-item {
            float: left;
            width: 30%;
            margin: 0 1.5% 40px;
          }

          &.center-items {
            .card-item:first-child {
              margin-left: 15%;
            }
          }
        }
      }

      .integrations {
        .partners {
          padding: 0 40px;
        }
      }
    }
    @include breakpoint($desktop-l) {
      .cookies {
        margin: 0 auto;
      }
    }
  }

  // Authentication
  .sign {
    background: linear-gradient(to bottom, #06297C 0%,#00021A 100%);
    //background: url(#{$images-path}/stock/bg-mask.png) no-repeat center top;
    min-height: 100%;
    flex-direction: column;

    .info {
      background: $soft-grey;
      display: none;
      width: 50%;
      margin: 0;
      .content {
        justify-content: center;
      }
    }

    .form {
      margin: 0;
      padding: 24px 0;
      color: $white;

      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        border-bottom: solid 2px $main-blue;
        background-color: $black;
        -webkit-text-fill-color: $off-white;
        -webkit-box-shadow: 0 0 0px 100px $vivid-violet inset;
        transition: background 5000s ease-in-out 0s;
      }

      &:before {
        background: url(#{$images-path}/stock/fg.png) no-repeat right bottom;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
      }

      .title {
        margin-bottom: 20px;
        text-align: center;
        position: relative;

        h1 {
          font-size: 1.375em;
          line-height: 100%;
          position: absolute;
          top: 4px;
          width: 100%;
        }

        .logo-mobile {
          margin-top: calc(10px + 20px);
        }
      }

      .form-group {
        position: relative;
        margin-bottom: 5%;

        .label {
          display: none;
        }

        &.simple {

        }

        i.kas {
          width: 28px;
          height: 28px;
          padding-top: 2px;
          text-align: center;
          display: block;
          position: relative;
          top: 10px;
          z-index: 20;
          font-size: 20px;
          float: left;
          margin-right: 4px;
          &:before {
            font-size: 24px;
          }
        }
      }

      .role {
        padding-left: 32px;
        .label {
          margin-top: 10px;
          width: 44px;
          display: inline-block;
        }
        .select.form-control {
          width: calc(100% - 48px);
          display: inline-block;
          min-width: initial;
          max-width: initial;
        }
      }

      .last {
        margin: 20px;
        li {
          float: left;
          color: lighten($dim-grey, 5);
          font-size: 13px;

          a {
            color: $off-white;
          }

          &:last-child {
            float: right;
          }
        }
      }
    }

    @include breakpoint($tablet) {
      flex-direction: row;

      .info {
        padding: 0;
        display: flex;
        background: url(#{$images-path}/stock/sign-fg.jpg) no-repeat left top;
        background-size: cover;
      }

      .form {
        width: 50%;
        padding: 24px 24px 0 24px;

        &:before {
          content: '';
        }

        .title {
          h1 {
            position: relative;
            margin: 40px 0 20px;
          }

          .logo-mobile {
            margin-top: 4px;
            text-align: left;
            width: 148px;
          }
        }

        .form-group {
          width: 80%;
          margin-left: 10%;
          overflow: hidden;
          &.simple {
            margin-left: 0;
            width: 100%;
            .btn {
              width: 80%;
              max-width: inherit;
            }
          }
        }

        .form-data {
          margin-bottom: calc(10% + 0px);
        }
        .last {
          margin: 40px 20px;
        }
      }
    }
    @include breakpoint($desktop) {
      .container-fluid {
        width: auto;
      }                                  
    }
  }

  .carousel.slide {
    @include breakpoint($tablet) {
      margin-top: 120px;

      .carousel-indicators {
        position: relative;
        bottom: 0;
        margin: 20px -30%;

        li {
          width: 16px;
          height: 16px;
          margin: 2px 4px;
          background-color: rgba($main-blue, .4);

          &.active {
            background-color: $main-blue;
          }
        }
      }

      .carousel-inner {
        text-align: center;
        padding: 0 20px;

        img {
          margin: 0 auto 20px;
          max-width: 280px;
        }

        h3, p {
          font-size: 14px;
          line-height: 1.4em;
          color: $charcoal-grey;
        }

        h3 {
          color: $rich-black;
          font-size: 20px;
          font-family: $gorditaBold;
        }
      }
    }
  }

  // My Content
  .my-content {
    flex-direction: column;
    min-height: 100%;

    .form-control.verify-site {
      border: none;
    }

    .form-data {
      .field-validation-error {
        margin: 0;
        max-width: 320px;
      }
    }

    .filter-panel {
      input.form-control,
      select.form-control,
      .bootstrap-select {
      }

      @include breakpoint($tablet) {
        input.form-control,
        select.form-control,
        .bootstrap-select {
          min-width: initial;
          max-width: 320px;
        }
      }
    }

    .phone {
      //background: url(../../Img/product/product.PNG) no-repeat center bottom;
      min-height: 120px;
      width: 100%;
      //background-size: cover;
      border: solid 1px green;
      position: relative;
      margin-top: 20px;
      padding: 8px;
      .preview-text {
        margin: 0;
        .title {

        }
        .message {
          margin-top: 10px;
        }

      }
    }

    .summary-bar {
      background: $black;
      color: $soft-grey;
      padding: 8px;
    }

    @include breakpoint($tablet) {
      flex-direction: row;
    }
  }
