<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdev;AccountKey=Nmpsm9BXJ+xX4f05UYQZV3qzRZx/S3La3AM28VgVM4UMNYyd7XqDV31sCCabTkUWLZ8MyhARcN3UoudaphadaA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdev;AccountKey=Nmpsm9BXJ+xX4f05UYQZV3qzRZx/S3La3AM28VgVM4UMNYyd7XqDV31sCCabTkUWLZ8MyhARcN3UoudaphadaA==;EndpointSuffix=core.windows.net" />
    <add name="DefaultAzureConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdev;AccountKey=Nmpsm9BXJ+xX4f05UYQZV3qzRZx/S3La3AM28VgVM4UMNYyd7XqDV31sCCabTkUWLZ8MyhARcN3UoudaphadaA==;EndpointSuffix=core.windows.net" />
    <add name="ServiceBusDefaultConnection" connectionString="Endpoint=sb://kindadsnot-dev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=eaKrga0/Fhc7revJQP27o+aHt3JXtWG+My70aSyRXrw=" />
    <add name="KindAdsDBContext" connectionString="data source=blockblisststjp.database.windows.net,1433;initial catalog=testkadsjp;persist security info=False;user id=tstbliss;password=patito12*;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.1.0" newVersion="9.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--Desarrollo-->
    <add key="TopicName" value="notification-topic" />
    <add key="SubscriptionName" value="kindadsweb-dev" />
    <add key="campaignQueue" value="campaignqueue" />
    
    <add key="MainAddress" value="0x831bc00330657e2cec1e4eb8af452877dfb40a6c" />
    <add key="BlockchainURL" value="http://159.203.103.91:8540" />
    <add key="ContractAddress" value="0xa67c799f22df6a30fc5439836f3c530fc87b6718" />
    <add key="MainAddressPassphrase" value="M3t4l1c4r0cks" />

    <add key="notificationQueue" value="notifications" />

   
   
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>