
@{
  ViewBag.Title = "My Campaigns";
  Layout = "~/Views/Shared/_MarketplacePubLayout.cshtml";
}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li><a href="#">Advertiser</a></li>
        <li class="active">Campaigns</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li><a href="#">Advertiser</a></li>
        <li class="active">Account</li>
      </ol>
    </div>
  </div>
</div>


@section Scripts {
  <script type="text/javascript">

    $(document).ready(function () {

    });

  </script>
}
