<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>

    <add name="ServiceBusDefaultConnection" connectionString="Endpoint=sb://kindads-dev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=5QZapB9RDHIolG66PbBK9jbC0crdS16dflcd65EMlfo=" />
    
    <!--Desarrollo & Staging-->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdevstorage;AccountKey=eAIrbFbC0+hbb4l7aPdl9Pad6/PFdaHk4mNOm6Gx6xl8AGNWOQBEhZZiuwiMqyUHHrxWgaOaTLToY+Lx31+1/Q==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdevstorage;AccountKey=eAIrbFbC0+hbb4l7aPdl9Pad6/PFdaHk4mNOm6Gx6xl8AGNWOQBEhZZiuwiMqyUHHrxWgaOaTLToY+Lx31+1/Q==;EndpointSuffix=core.windows.net" />
 
  </connectionStrings>
  
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IdentityModel.DisableMultipleDNSEntriesInSANCertificate=true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.1.0" newVersion="9.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <!--<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />-->
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <appSettings>    
    <add key="ApiKeySendGrid" value="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" />  
    <add key="SubscriptionName" value="kindadsweb-dev" />
    <add key="TopicName" value="notification-topic" />
    <add key="mailNotificationQueue" value="mail-notifications-dev" />
  </appSettings>
</configuration>
