<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>
    <!--Desarrollo-->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdev;AccountKey=Nmpsm9BXJ+xX4f05UYQZV3qzRZx/S3La3AM28VgVM4UMNYyd7XqDV31sCCabTkUWLZ8MyhARcN3UoudaphadaA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=kindadsdev;AccountKey=Nmpsm9BXJ+xX4f05UYQZV3qzRZx/S3La3AM28VgVM4UMNYyd7XqDV31sCCabTkUWLZ8MyhARcN3UoudaphadaA==;EndpointSuffix=core.windows.net" />
    <add name="ServiceBusDefaultConnection" connectionString="Endpoint=sb://kindadsnot-dev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=eaKrga0/Fhc7revJQP27o+aHt3JXtWG+My70aSyRXrw=" />
 
    <!--Produccion-->
    <!--<add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=kadststjpstorage;AccountKey=NAhekWCXjXv/8krQ5WUVZL9S4NR+PFNNZUs/5jbkdq0m6A9m6eQ7jp79P1DskDGbtkfZXKzoBZyFnprjeRs5Mg==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=kadststjpstorage;AccountKey=NAhekWCXjXv/8krQ5WUVZL9S4NR+PFNNZUs/5jbkdq0m6A9m6eQ7jp79P1DskDGbtkfZXKzoBZyFnprjeRs5Mg==;EndpointSuffix=core.windows.net" />
    <add name="ServiceBusDefaultConnection" connectionString="Endpoint=sb://kindadsnot-prod.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=tAT0bxkX5PRIBDNrh9xg1V+ipwozyDSA0mHCXyt0mvg=" />-->
    
  
  </connectionStrings>
  
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IdentityModel.DisableMultipleDNSEntriesInSANCertificate=true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <!--<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />-->
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <appSettings>    
    <add key="ApiKeySendGrid" value="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" />

    <!--Desarrollo-->
    <add key="TopicName" value="notification-topic" />
    <add key="SubscriptionName" value="kindadsweb-dev" />

    <!--Produccion-->
    <!--<add key="SubscriptionName" value="kindadsweb-prod"/>
    <add key="TopicName" value="notification-topic"/>-->
  </appSettings>
</configuration>
