 /* Pages
 ================================================== */
  // Faq
  .faq {
    .accordion {
      padding: 15px;
      .panel-group {
        background: linear-gradient(100deg, #0494c9, #5d4282) no-repeat;
        background-size: 100% 15px;
        background-color: $white;
        border-style: solid;
        border-width: 2px;
        border-image-source: linear-gradient(142deg, #0494c9, #5d4282);
        border-image-slice: 1;
        border-image-width: 2;
        border-image-outset: 0;
        padding-top: 15px;
        .panel-default :last-child {
          .panel-heading a {
            border-bottom-color: transparent;
          }
        }
      }
      .panel-default {
        border: none;
        border-radius: 0;
        margin: 0;
        & > .panel-heading {
          border-radius: 0;
          color: inherit;
          padding: 0;
          background-color: lighten($dim-grey, 38);
          border-color: transparent;
          a {
            color: $dark-violet;
            text-decoration: none;
            display: block;
            padding: 32px 56px 32px 32px;
            border-bottom: solid 1px $dim-grey;
            background-color: $white;
            &[aria-expanded='true'] {
              border: none;
              color: $vivid-violet;
              background-color: lighten($main-violet, 20);
              background-color: lighten($dim-grey, 37);
              span {
                background: url(#{$images-path}/icons/minus-plus.png) no-repeat center center;
              }
            }
          }

          span {
            width: 20px;
            height: 20px;
            display: block;
            float: right;
            top: 10px;
            right: 20px;
            position: absolute;
            background: url(#{$images-path}/icons/add-plus.png) no-repeat center center;
          }

          &:hover {
            background-color: lighten($main-violet, 20);
            cursor: pointer;
          }
        }

        .panel-title {
          font-size: 1.714em;
        }

        .panel-collapse.in {
          .panel-body {
            background-color: lighten($dim-grey, 37);
            border-bottom: solid 2px $vivid-violet;
          }
        }

        .panel-body {
          background-color: $white;
          border-top: solid 1px $soft-grey;
          border-top: none;
          padding: 0 32px 32px;
          br {
            display: block;
            line-height: 1em;
            height: 12px;
            content: " ";
          }
        }
      }
    }

    @include breakpoint($tablet) {
      .accordion {
        background-color: #f7f9fa;
      }
    }
  }
  
  // Team
  .team {
    .subtitle {
      font-size: 1.714em;
      margin: 24px 0 36px;
    }

    .card-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .card-item {
        width: 100%;
        margin-bottom: 40px;
        position: relative;
        .img {
          display: block;
          margin: 0;
          text-align: center;
          background: $white;
          overflow: hidden;
          img {
            object-fit: cover;
            width: 140px;
            height: auto;
          }
        }

        .content {
          display: block;
          background: #f7f9fa;
          margin: -20px 0 0 0;
          padding: 12px 12px 12px 12px;
          color: $rich-black;
          h3 {
            font-size: 1.714em;
          }
          h5 {
            font-size: .875em;
            text-transform: uppercase;
            position: relative;
            &:before {
              content: '';
              border-bottom: solid 2px #5d4282;
              position: absolute;
              display: block;
              width: 100%;
              height: 3px;
              bottom: -8px;
              left: 0;
            }
          }
          p {
            margin-top: 24px;
          }
        }
      }
    }
    @include breakpoint($tablet) {
      .subtitle {
        margin: 48px 0 72px;
        text-align: center;
      }

      .card-items {
        .card-item {
          float: left;
          width: calc(50% - 20px);
          &.add {
            margin-right: 20px;
          }
          &.even {
            margin-left: 20px;
          }
          .img {
            left: 0;
            position: absolute;
            img {
              width: 168px;
              height: 224px;
            }
          }
          .content {
            width: calc(100% - 80px);
            margin: 20px 0 0 80px;
            padding: 28px 28px 28px 112px;
            h3 {
              margin-bottom: 16px;
            }
            h5 {
              font-size: .875em;
              text-transform: uppercase;
              position: relative;
              &:before {
                content: '';
                width: 68px;
              }
            }
            p {
              margin-top: 48px;
            }
          }
        }
      }
    }
  }

  //Wallet
  .wallet {
    h2 {
      margin-bottom: 24px !important;
      text-align: left !important;
    }
    article {
      margin-bottom: 48px;
      ul {
        li {
          font-size: 1.25em;
          margin-bottom: 20px;
        }
      }
    }
  }

  // Sign
  .sign {
    .form-layout {
      .sign-wrapper {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        .content {
          background-color: $soft-grey;
          margin: 0;
          padding: 24px 0;
          color: $dark-grey;
          h3 {
            font-size: 1.5em;
            margin-bottom: 20px;
          }
          .btn-large {
            .btn-default,
            .btn-primary {
              width: 100%;
            }
          }
        }

        .aside {
          background: $soft-grey;
          display: none;
          width: 50%;
          margin: 0;
          .flexbox-item {
            justify-content: center;
          }
        }
      }

      .form-container {
        padding: 15px;
        .form-control {
          padding: 15px;
          height: auto;
        }
        .help-links {
          margin: 10px;
          a {
            color: $primary-color;
          }
        }
      }

      .radio-group {
        .form-group {
          margin: 0;
          padding: 0;
          background: $white;
          label {
            display: block;
            margin: 0;
            padding: 10px 15px;
            border: solid 1px $dark-grey;
            &.active {
              background-color: $dark-grey;
              color: $white; 
            }
          }

          .control_indicator {
            top: 10px;
            right: 8px;
            left: inherit;
            border: none;
            &:after {
              border-color: $white;
              top: 2px;
              left: 8px;
            }
          }

          input:checked {
            & ~ .control_indicator {
              background: transparent;
              border-color: transparent;
            }
          }

          &:first-child label {
            border-radius: 6px 0 0 6px;
          }
          &:last-child label {
            border-radius: 0 6px 6px 0;
          }
        }
      }

      .role {
        .btn {
          width: 100%;
        }
      }
    }

    @include breakpoint($tablet) {
      .form-layout {
        .sign-wrapper {
          flex-direction: row;
          .content {
            padding: 32px 0;
            width: calc(100% - 400px);
          }

          .aside {
            background: $white;
            padding: 0;
            display: flex;
            width: 400px;
            .flexbox-item {
              br {
                display: none;
              }
            }
          }
          &.extended {
            .content {
              width: 80%;
              margin-left: 10%;
            }
          }
        }

        .role {
          .btn {

          }
        }
      }
    }

    @include breakpoint($desktop) {
      .form-layout {
        .sign-wrapper {
          .content {
            width: 50%;
            padding: 32px;
          }
          .aside {
            width: 50%;
            .flexbox-item {
              br {
                display: block;
              }
            }
          }
        }
      }
    }
  }

   // Carousel
  .carousel.slide {
    @include breakpoint($tablet) {
      .carousel-indicators {
        position: relative;
        bottom: 0;
        margin: 30px auto 10px;
        left: inherit;

        li {
          width: 18px;
          height: 18px;
          margin: 2px 4px;
          background-color: rgba($grey, .9);

          &.active {
            background-color: $dark-grey;
          }
        }
      }

      .carousel-inner {
        text-align: center;
        padding: 0 20px;

        img {
          margin: 0 auto 20px;
          max-width: 280px;
        }

        h3, p {
          color: $dark-grey;
          line-height: 2;
        }

        h3 {
          font-size: 1.714em;
          line-height: 1.7;
          margin-bottom: 20px;
        }
      }
    }
  }

  // My Content
  .my-content {
    flex-direction: column;
    min-height: 100%;

    .form-control.verify-site {
      border: none;
    }

    .form-data {
      .field-validation-error {
        margin: 0;
        max-width: 320px;
      }
    }

    .filter-panel {
      input.form-control,
      select.form-control,
      .bootstrap-select {
      }

      @include breakpoint($tablet) {
        input.form-control,
        select.form-control,
        .bootstrap-select {
          min-width: initial;
          max-width: 320px;
        }
      }
    }

    .phone {
      //background: url(../../Img/product/product.PNG) no-repeat center bottom;
      min-height: 120px;
      width: 100%;
      //background-size: cover;
      border: solid 1px green;
      position: relative;
      margin-top: 20px;
      padding: 8px;
      .preview-text {
        margin: 0;
        .title {

        }
        .message {
          margin-top: 10px;
        }
      }
    }

    .summary-bar {
      background: $black;
      color: $soft-grey;
      padding: 8px;
    }

    @include breakpoint($tablet) {
      flex-direction: row;
    }
  }
