@model Captivate.Comun.Models.ViewModel.ShowSitesViewModel

@{
  var grid = new WebGrid(rowsPerPage: Model.PageSize);
  grid.Bind(Model.ListSitesPending, autoSortAndPage: false, rowCount: Model.TotalRecord);
}

@grid.GetHtml(
    tableStyle: "table datagrid",
    columns: grid.Columns(
grid.Column(columnName: "URL", header: "Site", canSort: true),
grid.Column(columnName: "RegistrationDate", header: "Date creation",
format: (model) => model.RegistrationDate != null ? model.RegistrationDate.ToString("d") == DateTime.Today.ToString("d") ? "Today" : model.RegistrationDate.ToString("d") == DateTime.Today.AddDays(-1).ToString("d") ? "Yesterday" : string.Format("{0:MMM dd, yy}", model.RegistrationDate) : "", canSort: true),
grid.Column(header: "Status", format: (item) => Html.ActionLink("Validate", "ValidateSite", "Site", new { idSite = item.IdSite.ToString() }, new { @class = "validate" })),
grid.Column(header: "Delete", format: @<div id="@item.IdSite" onclick="siteModule.deleteSiteRow('@item.IdSite', '@item.URL', false)" style="cursor:pointer">Delete</div>)
    ))
