@{
  ViewBag.Title = "My Sites";
  Layout = "~/Views/Shared/_PublisherLayout.cshtml";
}

<div class="container-fluid">

  <div class="form-horizontal">
    <div class="row">
      <div class="col-sm-12 main-bar clearfix">
        <h1 class="pull-left title">My sites</h1>
        <div class="pull-right">
          @Html.ActionLink("Create a Site", "CreateSite", "Site", null, new { @class = "btn btn-primary" })
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="white-block">
          <ul class="nav nav-tabs flexbox">
            <li class="active">
              <a href="#pnlGridPending" data-toggle="tab">Pending</a>
            </li>
            <li>
              <a href="#pnlGridVerify" data-toggle="tab">Approved</a>
            </li>
          </ul>
          <div class="tab-content clearfix">
            @using (Ajax.BeginForm("ShowSitesPending", "Site", null, new AjaxOptions
            {
              HttpMethod = "POST",
              OnSuccess = "",
              OnFailure = "",
              UpdateTargetId = "pnlGridPending"
            }, new { id = "pnlGridPendingAjax" })) { }
            <div id="pnlGridPending" class="tab-pane active">
              @{Html.RenderAction("ShowSitesPending", "Site");}
            </div>
            @using (Ajax.BeginForm("ShowSitesVerify", "Site", null, new AjaxOptions
            {
              HttpMethod = "POST",
              OnSuccess = "",
              OnFailure = "",
              UpdateTargetId = "pnlGridVerify"
            }, new { id = "pnlGridVerifyAjax" })) { }
            <div id="pnlGridVerify" class="tab-pane">
              @{Html.RenderAction("ShowSitesVerify", "Site");}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

@Scripts.Render("~/bundles/customjs")
<script src="~/Modules/siteModule.js"></script>
<script type="text/javascript">
  siteModule.readyShowSites();
  siteModule.bindingOnClickShowSites(); 
</script>
