<div class="form-group">
  @Html.Label("Upload an image")
  <div class="btn btn-default file">
    Add photo
    <input id="fileup" name="fileup" type="file" />
  </div>
  <label id="filename"></label>
  <br /><label id="lblFileUp" style="color:#b30000 !important;" />
</div>
