/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container,
.container-fluid {
  position: relative;
  width: 100%;
  //max-width: 960px;
  margin: 0 auto;
  padding: 0;
  div[class^="col-"] {
    position: relative;
    min-height: 1px;
  }

  @include breakpoint($tablet) {
    div[class*="col-"] {
      margin-left: 2%;
      float: left;
      &:first-child {
        margin-left: 0;
      }
    }
    .col-1, .col-2, .col-3          { width: 23%; }
    .col-4, .col-5, .col-6          { width: 49%; }
    .col-7, .col-8, .col-9          { width: 75%; }
    .col-10, .col-11, .col-12       { width: 100%; }
  }
  @include breakpoint($desktop) {
    .col-1                  { width: 5.66666666667%; }
    .col-2                  { width: 14.3333333333%; }
    .col-3                  { width: 23%;            }
    .col-4                  { width: 31.6666666667%; }
    .col-5                  { width: 40.3333333333%; }
    .col-6                  { width: 49%;            }
    .col-7                  { width: 57.6666666667%; }
    .col-8                  { width: 66.3333333333%; }
    .col-9                  { width: 75.0%;          }
    .col-10                 { width: 83.6666666667%; }
    .col-11                 { width: 92.3333333333%; }
    .col-12                 { width: 100%; }

    div[class*="col-"].col-offset-1           { margin-left: 7.66666666667%; }
    div[class*="col-"].col-offset-2           { margin-left: 16.3333333333%; }
    div[class*="col-"].col-offset-3           { margin-left: 25%; }
    div[class*="col-"].col-offset-4           { margin-left: 33.6666666667%; }
    div[class*="col-"].col-offset-5           { margin-left: 42.3333333333%; }
    div[class*="col-"].col-offset-6           { margin-left: 51%; }
    div[class*="col-"].col-offset-7           { margin-left: 59.6666666667%; }
    div[class*="col-"].col-offset-8           { margin-left: 68.3333333333%; }
    div[class*="col-"].col-offset-9           { margin-left: 77.0%; }
    div[class*="col-"].col-offset-10          { margin-left: 85.6666666667%; }
    div[class*="col-"].col-offset-11          { margin-left: 94.3333333333%; }
  }
}
