<div class="cta-bar">
  <br /><br />
  <p style="display: none;">Your Channel will added to your Audience as soon as everything has been verified</p>
  <div class="form-group pull-left">
    <a class="btn btn-default btn-lg">Cancel </a>

  </div>

  <div class="form-group pull-right">
    <input type="submit" id="SavePreferencesBtn" value="Add Channel" class="btn btn-secondary btn-lg" />
  </div>
</div>
