@model KindAds.Negocio.ViewModels.KindAdsV2.AudienceChannelViewModel
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var _idAudience = Request.QueryString["audienceId"];
}

<div class="modal fade" id="MessageChannelModal" role="dialog" aria-labelledby="MessageChannelModal" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          <label id="lblTitle">Message Channel</label>
          @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>*@
        </h2>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-12">
                <label id="MessageChannelLabel"></label>
                <div>
                  <p>
                    Your next step is browse throught the marketplace to find the right publishers to work with.
                  </p>
                  <div class="btn-stack">

                    @Html.ActionLink(
                               "View my audiences",
                               "MyAudiences",
                               "Audience",
                               new { culture= culture },
                               new { @class = "btn btn-secondary btn-lg" }
                               )
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
