@model KindAds.Negocio.ViewModels.KindAdsV2.AudienceChannelViewModel

<fieldset>
  <article>
    <div class="form-group">
      @Html.Label("Web Site space coming soon ...", htmlAttributes: new { @class = "control-label" })
    </div>
  </article>
</fieldset>
