block headTitle
  title Create an Account | Kind Ads System


block bodyWrapper
  .flexbox.sign
    .col-sm-12.flexbox-item.form(style='flex-flow: column; width: 100%')
      h1 Pantallas links
      hr
      p
        strong - Authentication
        ul
          li: a(href='sign-up.html') Sign up
          li: a(href='') Sign in
          li: a(href='') Forgot password
          li: a(href='') Set password
          li: a(href='') Validate Code (email)
          li: a(href='') Verify Code (email)
          li: a(href='') Verify Code
      hr
      p
        strong - Publisher
        ul
          li: a(href='start.html') Start
          li: a(href='create-site.html') Start
      hr
