extends ./templates/defaultBase.pug


block headTitle
  title Create an Account | Kind Ads System


block bodyWrapper
  .main-content
    .flexbox.sign
      section.flexbox-item.spaced.form
        .title
          .logo-mobile
            a(href='index.html')
              img(src='../Img/UI/logo-white.png')
          h1 Create an Account

        article.form-data()
          form
            fieldset
              .row
                .col-sm-12.form-group.simple
                  i.kas.kas-icon-email
                  label.label(id='password') Email
                  input.input-validation-error.form-control.clean(type='email' id='email' placeholder='EMAIL' autofocus)
                  span.field-validation-error.text-danger(data-valmsg-for='Name' data-valmsg-replace='true') *
              .row
                .col-sm-12.form-group.simple
                  i.kas.kas-icon-password
                  label.label(id='password') Password
                  input.form-control.clean(type='password' id='password' placeholder='PASSWORD')

              .form-group.padding
                button.btn.btn-default.btn-rounded.btn-lg(type='submit') Login

              .form-group.padding
                ul.last
                  li
                    span
                      a(href='forgot-password.html') Forgot Password?
                  li
                    a(href='sign-up.html') SIGN UP

      section.flexbox-item.info
        include ./partials/partial-login.pug


block append appScripts
  script.
    $('.carousel').carousel({
      //interval: 100000
      //pause: true,
      //interval: false
    });
