
@{
  ViewBag.Title = "Internal Server";
  Layout = "~/Views/Shared/_MarketplacePubLayout.cshtml";

}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <section class="form-data">
        <div class="form-container">

          <fieldset>
            <br />
            <h1>Error</h1>
            <div class="form-group">
              An unexpected error has occurred. Please contact the system administrator <br>             
            </div>
          </fieldset>
        </div>
      </section>
    </div>
  </div>
</div>


@section Scripts {


}
